<div>
<mat-card dir="rtl"  fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="70" style="margin:auto;">
        <div class="gene-card-title">
           <div fxLayout="row" fxLayoutAlign="center">
              <div fxLayout="column" fxLayoutAlign="center">
                 <h3>{{'Add Extract'|translate}}</h3>
              </div>
              <span fxFlex></span>
           </div>
           <mat-divider></mat-divider>
        </div>
        <div class="gene-card-content" >
              <form #form="ngForm">
                    <div fxLayout="column">
                       <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                          <!--Extract Number-->
                          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                             <mat-form-field class="full-wid mrgn-b-lg">
                                    <input matInput name="extract_number" [(ngModel)]="extract_number"
                                    placeholder="{{'Extract Number'|translate}}" type="text" required>       
                             </mat-form-field>
                          </div>
                          <!--Extract Number-->
                          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                                <mat-form-field class="full-wid mrgn-b-lg">
                                        <input matInput 
                                        name="extract_date" [(ngModel)]="extract_date"
                                        [min]="minDate" [max]="maxDate" [matDatepicker]="picker"
                                         placeholder="{{'Extract Date'|translate}}">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>  
                                </mat-form-field>
                          </div>
                           <!--Total work performed in the abstract-->
                           <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                                <mat-form-field class="full-wid mrgn-b-lg">
                                       <input matInput name="total_work" [(ngModel)]="total_work"
                                       placeholder="{{'Total work performed in the abstract'|translate}}" type="number" 
                                       required disabled>       
                                </mat-form-field>
                             </div>
                              <!--Total Discounts-->
                           <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                                <mat-form-field class="full-wid mrgn-b-lg">
                                       <input matInput name="total_discount" [(ngModel)]="total_discount"
                                       placeholder="{{'Total Discounts'|translate}}" type="number" 
                                       required disabled>       
                                </mat-form-field>
                             </div>
                                    <!--Net amount due-->
                           <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                                <mat-form-field class="full-wid mrgn-b-lg">
                                       <input matInput name="Net_amout" [(ngModel)]="Net_amout"
                                       placeholder="{{'Net amount due'|translate}}" type="number" 
                                       required disabled>       
                                </mat-form-field>
                             </div>    
                                      <!--Total after tax-->
                           <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                                <mat-form-field class="full-wid mrgn-b-lg">
                                       <input matInput name="total_Vat" [(ngModel)]="total_Vat"
                                       placeholder="{{'Total after tax'|translate}}" type="number" 
                                       required disabled>       
                                </mat-form-field>
                             </div>   
                                          <!--The amount paid-->
                           <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                                <mat-form-field class="full-wid mrgn-b-lg">
                                       <input matInput name="paid" [(ngModel)]="paid" 
                                       placeholder="{{'The amount paid'|translate}}" type="number" 
                                       required >       
                                </mat-form-field>
                             </div>                
                </div>
  
  
                       <div fxLayout="row" fxLayoutAlign="center">
                             <button mat-button mat-raised-button color="accent" (click)="AddExtract()" type="submit">{{'Add'|translate }}</button>
                                                        
                       </div>
                    </div>
                 </form>
        </div>
     </mat-card>
    </div>

     
   
   <div fxLayout="row wrap"  fxLayoutAlign="center">
     <mat-card fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100"  class="mrgn-t-md">
            <div class="gene-card-title">
                    <div fxLayout="row" fxLayoutAlign="center">
                       <div fxLayout="column" fxLayoutAlign="center">
                          <h3>{{'Executed Business Items'|translate}}</h3>
                       </div>
                       <span fxFlex></span>
                       
                       <div fxLayout="column"  fxLayoutAlign="center" fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <form #form="ngForm">
                          
                             
                              <mat-form-field class="full-wid mrgn-b-lg">
                                    <mat-label>{{'Item Number'|translate}} , {{'Item Name'|translate}}</mat-label>
                                    <mat-select name="item_id" [(ngModel)]="item_id">
                                                <div *ngFor="let item of approve">
                                                 <mat-option value={{item.id}} (click)="Add(item.id)" >
                                                   {{item.number}}   ,    {{item.name}} 
                                              </mat-option>
                                                
                                                </div>
                                            </mat-select>                                            
                              </mat-form-field>
                             
                          
                        </form>
                       </div>
                   
                       <span fxFlex></span>
                       <!-- <div fxLayout="column">
                            <button class="mrgn-b-xs" mat-raised-button color="primary" (click)="AddItem()">{{'Add Item'|translate}}</button>
                         </div> -->
                    </div>
                                          </div>
                    <mat-divider></mat-divider>
                    <div class="gene-card-content pad-t-none">
                            <div class="table-responsive">
                               <table class="table table-hover table-middle th-fw-light mb-0">
                                  <thead>
                                     <tr>
                                        <th>#</th>
                                        <th>{{'Item Number'|translate}}</th>
                                        <th>{{'Item Name'|translate}}</th>
                                        <th>{{'Quantity'|translate}}</th>
                                        <th>{{'Price'|translate}}</th>
                                        <th>{{'Total Price'|translate}}</th>
                                        <th>{{'Controls'|translate}}</th>
                                     </tr>
                                  </thead>
                                  <tbody>
                                     <tr *ngFor="let item of approved ; let i = index">
                                   
                                        <td>#</td>
                                        <td>{{item.number}}</td>
                                        <td>{{item.name}}</td>
                                        <td>{{item.approved_qty}}</td>
                                        <td>{{item.price}}</td>
                                        <td>{{item.price * item.approved_qty}}</td>
                                        <td><button (click)="removeitem(i)" color="warn" mat-button><mat-icon>delete</mat-icon></button></td>
                                     </tr>
                                  
                                  </tbody>
                               </table>
                            </div>
                         </div>
                
    </mat-card>

    <mat-card fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100"  dir="rtl">
            <div class="gene-card-title">
                    <div fxLayout="row" fxLayoutAlign="center">
                       <div fxLayout="column" fxLayoutAlign="center">
                          <h3>{{'Discounts Type'|translate}}</h3>
                       </div>
                       <span fxFlex></span>
                       
                       <div fxLayout="column"  fxLayoutAlign="center" fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <div fxLayout="row" fxLayoutAlign="center">
                        <form #form="ngForm">
                          
                             
                              <mat-form-field class="full-wid mrgn-b-lg">
                                    <mat-label>{{'Discounts Type'|translate}}</mat-label>
                                    <mat-select name="dis" [(ngModel)]="dis" >
                                              <mat-option value="1" >
                                                   {{'Delay penalty'|translate}}
                                              </mat-option>
                                              <mat-option value="1" >
                                                {{'A well-executed fine'|translate}}
                                             </mat-option>
                                             <mat-option value="1" >
                                                {{'Downpayment'|translate}}
                                             </mat-option>
                                             <mat-option value="1" >
                                                {{'The value of the previous abstracts'|translate}}
                                             </mat-option>
                                            </mat-select>                                            
                              </mat-form-field>

                              <mat-form-field class="full-wid mrgn-b-lg"> 
                                   <input matInput name="dis_amount" [(ngModel)]="dis_amount" 
                                 placeholder="{{'Total Discounts'|translate}}" type="number" required>   
                           </mat-form-field>
                        </form>
                        </div>
                       </div>
                   
                       <span fxFlex></span>
                      
                      
                       <!-- <div fxLayout="column">
                            <button class="mrgn-b-xs" mat-raised-button color="primary" (click)="openDialogDiscount()">{{'Add Item'|translate}}</button>
                         </div> -->
                    </div>
                    
                        </div>
                    <mat-divider></mat-divider>
               
                 <div class="gene-card-content pad-t-none">
                        <div class="table-responsive">
                           <table class="table table-hover table-middle th-fw-light mb-0">
                              <thead>
                                 <tr>
                                    <th>#</th>
                                    <th>{{'Discounts Type'|translate}}</th>
                                    <th>{{'Total Discounts'|translate}}</th>
                                    <th>{{'Controls'|translate}}</th>
                                   
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                          </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
    </mat-card>
   </div>
  