<div>
<mat-card dir="rtl"  fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="70" style="margin:auto;">
        <div class="gene-card-title">
           <div fxLayout="row" fxLayoutAlign="center">
              <div fxLayout="column" fxLayoutAlign="center">
                 <h3> {{projectname}} /  {{'Add Extract'|translate}}</h3>
              </div>
              <span fxFlex></span>
           </div>
           <mat-divider></mat-divider>
        </div>
        <div class="gene-card-content" >
              <form #form="ngForm">
                    <div fxLayout="column">
                       <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                          <!--Extract Number-->
                          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                           <div fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="100" fxFlex.gt-md="45" style="margin-top: 0.75%;">
                             <mat-form-field class="full-wid mrgn-b-lg">
                                    <input matInput name="extract_number" [(ngModel)]="extract_number"
                                    placeholder="{{'Extract Number'|translate}}" type="text" required>       
                             </mat-form-field>
                           </div>
                           <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49" style="margin-right: 3%;">
                              <mat-form-field class="full-wid mrgn-b-lg">
                                  <mat-label>{{'Extract Type'|translate}}</mat-label>   
                                 <mat-select>
                                    <mat-option value="current">{{'Current'|translate}} </mat-option>
                                    <mat-option value="final">{{'Final'|translate}}</mat-option>
                               </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                       
                        
                          <mat-lable>{{'Date of Approve Collect'|translate}}</mat-lable>    
                          <br>
                          <!--Extract Number-->
                          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                         
                           <div fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="100" fxFlex.gt-md="45">
                                 <mat-form-field class="full-wid mrgn-b-lg">
                                    <input matInput 
                                    name="from_extract_date"  [(ngModel)]="from_extract_date"
                                    [min]="minDate" [max]="maxDate" [matDatepicker]="picker1"
                                     placeholder="{{'From'|translate}}">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>  
                            </mat-form-field>
                               </div>
                               &nbsp;  &nbsp;  &nbsp;
                               <div  fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                                 <mat-form-field class="full-wid mrgn-b-lg">
                                    <input matInput 
                                    name="to_extract_date"  [(ngModel)]="to_extract_date"
                                    [min]="minDate" [max]="maxDate" [matDatepicker]="picker2"
                                     placeholder="{{'To'|translate}}">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>  
                            </mat-form-field>
                               </div>
                          </div>
                           <!--Total work performed in the abstract-->
                           <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                                <mat-form-field class="full-wid mrgn-b-lg">
                                       <input matInput name="total_work" [(ngModel)]="total_work"
                                       placeholder="{{'Total work performed in the abstract'|translate}}" type="number" 
                                       required disabled>       
                                </mat-form-field>
                             </div>
                              <!--Total Discounts-->
                           <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                                <mat-form-field class="full-wid mrgn-b-lg">
                                       <input matInput name="total_discount" [(ngModel)]="total_discount"
                                       placeholder="{{'Total Discounts'|translate}}" type="number" 
                                       required disabled>       
                                </mat-form-field>
                             </div>
                                    <!--Net amount due-->
                           <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                                <mat-form-field class="full-wid mrgn-b-lg">
                                       <input matInput name="Net_amout" [(ngModel)]="Net_amout"
                                       placeholder="{{'Net amount due'|translate}}" type="number" 
                                       required disabled>       
                                </mat-form-field>
                             </div>    
                                      <!--Total after tax-->
                           <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                                <mat-form-field class="full-wid mrgn-b-lg">
                                       <input matInput name="total_Vat" [(ngModel)]="total_Vat"
                                       placeholder="{{'Total after tax'|translate}}" type="number" 
                                       required disabled>       
                                </mat-form-field>
                             </div>   
                                          <!--The amount paid-->
                           <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                                <mat-form-field class="full-wid mrgn-b-lg">
                                       <input matInput name="paid" [(ngModel)]="paid" 
                                       placeholder="{{'The amount paid'|translate}}" type="number" 
                                       required >       
                                </mat-form-field>
                             </div>                
                </div>
  
  
                       <div fxLayout="row" fxLayoutAlign="center">
                             <button mat-button mat-raised-button color="accent" (click)="AddExtract()" type="submit">{{'Add'|translate }}</button>
                                                        
                       </div>
                    </div>
                 </form>
        </div>
     </mat-card>
    </div>

     
   
   <div fxLayout="row wrap"  fxLayoutAlign="center">
     <mat-card fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100"  class="mrgn-t-md">
            <div class="gene-card-title">
                    <div fxLayout="row" fxLayoutAlign="center">
                       <div fxLayout="column" fxLayoutAlign="center">
                          <h3>{{'Executed Business Items'|translate}}</h3>
                       </div>
                       <span fxFlex></span>
                       
                       <div fxLayout="column"  fxLayoutAlign="center" fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <form #form="ngForm">
                          
                             
                              <mat-form-field class="full-wid mrgn-b-lg">
                                    <mat-label>{{'Item Number'|translate}} , {{'Item Name'|translate}}</mat-label>
                                    <mat-select name="item_id" [(ngModel)]="item_id">
                                                <div *ngFor="let item of approve">
                                                 <mat-option value={{item.id}} (click)="Add(item.id)" >
                                                   {{item.number}}   ,    {{item.name}} 
                                              </mat-option>
                                                
                                                </div>
                                            </mat-select>                                            
                              </mat-form-field>
                             
                          
                        </form>
                       </div>
                   
                       <span fxFlex></span>
                       <!-- <div fxLayout="column">
                            <button class="mrgn-b-xs" mat-raised-button color="primary" (click)="AddItem()">{{'Add Item'|translate}}</button>
                         </div> -->
                    </div>
                                          </div>
                    <mat-divider></mat-divider>
                    <div class="gene-card-content pad-t-none">
                     <div class="table-responsive">
                        <table class="table table-hover table-middle th-fw-light mb-0"  style="background-color: #C1C7C9;">
                           <thead>
                              <tr class="text-center">
                                 <th class="text-center">{{'Choose'|translate}}</th>
                                 <th class="text-center">{{'Collect Request Number'|translate}}</th>
                                 <th class="text-center">{{'From Duration'|translate}}</th>
                                 <th class="text-center">{{'To Duration'|translate}}</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let item of approved ; let i = index;">
                                 <td style="text-align: center;">
                                    <mat-checkbox (change)="getCountItem($event , item.item_number ,item.count_id)"></mat-checkbox>
                                 </td>
                                 <td style="text-align: center;">
                                  {{item.count_id}}
                                 </td>
                                 <td style="text-align: center;">
                                    {{item.count_from}}
                                   </td>
                                
                                   <td style="text-align: center;">
                                    {{item.count_to}}
                                   </td>
                                  
                                
                              </tr>
                           </tbody>
                        </table>
                     </div>

                   <div fxLayout="row" fxLayoutAlign="center">                     
                     <button style="text-align: center;" mat-button mat-raised-button color="accent" 
                     (click)="AddItem()" type="submit"></button>
                   </div>
                   <br>
                   <br>
                        <div class="table-responsive">
                               <table class="table table-hover table-middle th-fw-light mb-0">
                                  <thead>
                                     <tr>
                                        <th style="text-align: center;">{{'ID'|translate}}</th>
                                        <th  style="text-align: center;">{{'Item Number'|translate}}</th>
                                        <th  style="text-align: center;">{{'Item Name'|translate}}</th>
                                         <th  style="text-align: center;">{{'Controls'|translate}}</th>
                                     </tr>
                                  </thead>
                                  <tbody>
                                     <ng-container *ngFor="let item of ApprovedCountItem ; let i = index"  style="text-align: center;">
                                   <tr>
                                       <td  style="text-align: center;">
                                          <span (click)="openCloseRow(item.id = 0 )">
                                                <button *ngIf="rowSelected!=item.id; else close" color="primary"  mat-icon-button matTooltip="{{'More Options'|translate}}" [matMenuTriggerFor]="menu"   >
                                                   <mat-icon>arrow_drop_down</mat-icon>
                                                </button>
                                                <ng-template #close>
                                                      <button color="primary"   mat-icon-button matTooltip="{{'Hide'|translate}}" [matMenuTriggerFor]="menu"   >
                                                         <mat-icon>arrow_drop_up</mat-icon>
                                                      </button>
                                                  </ng-template>
                                                </span>
                                       </td>
                                        <td  style="text-align: center;">{{item.number}}</td>
                                        <td style="width:70%; text-align: center;">{{item.name}}</td>
                                        
                                        <td><button (click)="removeitem(i)" color="warn" mat-button><mat-icon>delete</mat-icon></button></td>
                                     </tr>

                                     <tr *ngIf="rowSelected==item.id" style="background-color: #C1C7C9;">
                                       <td></td>
                                       <td colspan="4">
                                        <table class="table table-striped">
                                        <th  style="text-align: center;">{{'Contracted Quantities'|translate}}</th>
                                        <th  style="text-align: center;">{{'Executed Quantity'|translate}}</th>
                                        <th  style="text-align: center;">{{'Price'|translate}}</th>
                                        <th  style="text-align: center;" >{{'Amount of Excuted Works'|translate}}</th>
                                               <tbody>
                                                   <tr style="text-align: center;">
                                                      <td >{{item.qty}}</td>
                                        <td   style="text-align: center;">
                                         <div>
                                          <mat-label style="font-weight: bolder; text-align: center; padding: 3%;">{{'Pervoiusly'|translate}}</mat-label>
                                          
                                          
                                           <mat-label style="font-weight: bolder; text-align: center; padding: 3%;">{{'For Now'|translate}}</mat-label>
                                      
                                        
                                           <mat-label style="font-weight: bolder; text-align: center; padding:3%;">{{'Total'|translate}}</mat-label>
                                           
                                          </div>
                                           <div>
                                          <span style="text-align: center; margin: 7%;">
                                           {{ item.p_approved_qty  - item.approved_qty }}
                                          </span>
                                          
                                           <span  style="text-align: center; margin: 7%;">
                                           {{item.approved_qty}}
                                          </span>
                                          
                                           <span  style="text-align: center; margin: 7%;">
                                           {{item.p_approved_qty}}
                                          </span>
                                        
                                       </div>
                                          </td>
                                        <td style="text-align: center;">
                                          
                                           {{item.price}}
                                         
                                          </td>
                                        <td  style="text-align: center;">
                                          <div>
                                          <mat-label style="font-weight: bolder; text-align: center; padding: 3%;">{{'Pervoiusly'|translate}}
                                          
                                          </mat-label>
                                       
                                           <mat-label style="font-weight: bolder; text-align: center; padding: 3%;">{{'For Now'|translate}}</mat-label>

                                         
                                           <mat-label style="font-weight: bolder; text-align: center; padding: 3%;">{{'Total'|translate}}</mat-label>
                                           </div>
                                           <div>
                                           <span style="text-align: center ; margin: 7%;">{{item.price * (item.p_approved_qty  - item.approved_qty)}}</span>
                                           
                                           <span style="text-align: center; margin: 7%;">{{item.price * item.approved_qty}}</span> 
                                          
                                           <span style="text-align: center; margin: 7%;">
                                           {{item.price * item.approved_qty + item.price * (item.p_approved_qty  - item.approved_qty)}}
                                          </span>
                                           </div>
                                          </td>
                                          </tr>
                                         </tbody>
                                        </table>
                                       </td>
                                     </tr>
                                    </ng-container>
                                  </tbody>
                               </table>
                            </div>
                         </div>
                
    </mat-card>

    <mat-card fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100"  dir="rtl">
            <div class="gene-card-title">
                    <div fxLayout="row" fxLayoutAlign="center">
                       <div fxLayout="column" fxLayoutAlign="center">
                          <h3>{{'Discounts Type'|translate}}</h3>
                       </div>
                       <span fxFlex></span>
                       
                       <div fxLayout="column"  fxLayoutAlign="center" fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                        <div fxLayout="row" fxLayoutAlign="center">
                        <form #form="ngForm">
                          
                             
                              <mat-form-field class="half-wid mrgn-b-lg">
                                 <input matInput name="discounts" [(ngModel)]="discounts"
                                 placeholder="{{'Discounts Type'|translate}}" type="text" required>                                    
                              </mat-form-field>
                          &nbsp; &nbsp;
                              <mat-form-field class="half-wid mrgn-b-lg"> 
                                   <input matInput name="dis_amount" [(ngModel)]="dis_amount" 
                                 placeholder="{{'Total Discounts'|translate}}" type="number" required>   
                           </mat-form-field>
                           &nbsp; &nbsp;
                           <button class="mrgn-b-xs" mat-raised-button color="accent" (click)="AddDiscount()">{{'Add' |translate}}</button>
                       
                        </form>
                          
                        </div>
                       </div>
                      
                      
                       <span fxFlex></span>
                      
                       <!-- <div fxLayout="column">
                            <button class="mrgn-b-xs" mat-raised-button color="primary" (click)="openDialogDiscount()">{{'Add Item'|translate}}</button>
                         </div> -->
                    </div>
                    
                        </div>
                   <div >
                        </div>
                    <mat-divider></mat-divider>
               
                 <div class="gene-card-content pad-t-none">
                        <div class="table-responsive">
                           <table class="table table-hover table-middle th-fw-light mb-0">
                              <thead>
                                 <tr>
                                    <th>#</th>
                                    <th>{{'Discounts Type'|translate}}</th>
                                    <th>{{'Total Discounts'|translate}}</th>
                                    <th>{{'Controls'|translate}}</th>
                                   
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr *ngFor="let item of discount ; let i = index;">
                                    <td>#</td>
                                    <td>{{item.discount}}</td>
                                    <td>{{item.amount}}</td>
                                    <td><button (click)="removediscount(i)" color="warn" mat-button><mat-icon>delete</mat-icon></button></td>
                                   
                          </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
    </mat-card>
   </div>
  