<div fxLayout="row wrap" fxLayoutAlign=" start" class="gene-form-wizard" dir="rtl">
    <mat-card fxFlex="100%">
       <div class="gene-card-title">
          <div fxLayout="row" fxLayoutAlign="start center">
             <div fxLayout="column">
                <h4> {{projectname}}  / {{'Request for Inventroy Qunatities'|translate}}</h4>
             </div>
           
            
          <span fxFlex></span> 
       </div>
       <div fxLayout="row wrap" fxLayoutAlign="space-between center">
         <div fxFlex.gt-sm="32" fxFlex.gt-xs="32" fxFlex="100" fxFlex.gt-md="32">
            <mat-label class="text-center">{{'Item Number'|translate}}</mat-label>
            <mat-form-field class="full-wid mrgn-b-lg ">
               <mat-label>{{'Item Number'|translate}}</mat-label>
               <mat-select [(ngModel)]="item_number">
                  <mat-option  *ngFor= "let item of items"               
                  (click)="BindItemname(item.item_name , item.id , item.product_uom_name, item.dimension, description)" [value]="item.item_number">{{item.item_number}}
               </mat-option>
              </mat-select>               
         </mat-form-field>
      </div>

      <div fxFlex.gt-sm="32" fxFlex.gt-xs="32" fxFlex="100" fxFlex.gt-md="32">
         <mat-label class="text-center">{{'Item Name'|translate}}</mat-label>
         <mat-form-field class="full-wid mrgn-b-lg ">
            <mat-label>{{'Item Name'|translate}}</mat-label>
            <mat-select [(ngModel)]="item_name">
               <mat-option  *ngFor= "let item of items"
               (click)="BindItemnumber(item.item_number , item.id , item.product_uom_name, item.dimension, description)" [value]="item.item_name">{{item.item_name}}
            </mat-option>
           </mat-select>
            
      </mat-form-field>
   </div>

   <div fxFlex.gt-sm="32" fxFlex.gt-xs="32" fxFlex="100" fxFlex.gt-md="32">
      <mat-label class="text-center">{{'Unit'|translate}}</mat-label>
      <mat-form-field class="full-wid mrgn-b-lg ">
         <mat-label>{{'Unit'|translate}}</mat-label>
            <input  matInput name="unit" [(ngModel)]="unit" type="text" disabled  />
        </mat-form-field>
</div>
         </div>
        
       <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          
         <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
         <div fxFlex.gt-sm="48" fxFlex.gt-xs="48" fxFlex="100" fxFlex.gt-md="48">
            
            <mat-label>{{'From'|translate}}</mat-label>
               <mat-form-field class="full-wid mrgn-b-lg"> 
                  <input matInput  name="fromd" [(ngModel)]="fromd"
                 [min]="minDate" [max]="maxDate" [matDatepicker]="from"
                  placeholder="{{'From'|translate}}">
                 <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                 <mat-datepicker #from></mat-datepicker>   
               </mat-form-field>
          </div>

         <div fxFlex.gt-sm="51" fxFlex.gt-xs="51" fxFlex="100" fxFlex.gt-md="51" style="margin-right:5%;">
            
            <mat-label>{{'To'|translate}}</mat-label>
          
            <mat-form-field class="full-wid mrgn-b-lg"> 
               <input matInput name="tod" [(ngModel)]="tod"
              [min]="minDate" [max]="maxDate" [matDatepicker]="to"
               placeholder="{{'To'|translate}}">
              <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
              <mat-datepicker #to></mat-datepicker>   
            </mat-form-field>
         </div>
         </div>

       </div>
       <div fxLayout="row" fxLayoutAlign="center">
         <button class="mrgn-b-xs" mat-raised-button color="accent" (click)="ShowRFI()">{{'Submit'|translate}}</button>
             
        </div>
      
      </div >
       <div class="gene-card-content">
          
         <div class="table-responsive">

            <table class="table table-hover table-middle th-fw-light mb-0">
               <thead>
                  <tr class="text-center">
                     <th class="text-center">{{'Choose'|translate}}</th>
                     <th class="text-center">{{'Request Number'|translate}}</th>
                     <th class="text-center">{{'Request Type'|translate}}</th>
                     <th class="text-center">{{'Project Items'|translate}}</th>
                     <th class="text-center">{{'Date'|translate}}</th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let item of RFI ; let i = index;">
                     <td style="text-align: center;">
                        <mat-checkbox (change)="getRFIid($event , item.id , i)"></mat-checkbox>
                     </td>
                     <td style="text-align: center;">
                      {{item.request_num}}
                     </td>
                     <td style="text-align: center;">
                        {{item.request_type}}
                     </td>
                     <td style="text-align: center;">
                        {{item.item_id}}
                     </td>
                     <td style="text-align: center;">
                      {{item.inspect_date}}
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
       </div>
    </mat-card>
</div>


<div fxLayout="row wrap" fxLayoutAlign=" start" class="gene-form-wizard" dir="rtl">
   <mat-card fxFlex="100%">
      <div class="gene-card-title">
         <div fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column">
               <h4>{{'Inspect Location'|translate}}</h4>
            </div>
          
           
         <span fxFlex></span> 
         </div>
         </div>
         <div class="gene-card-content pad-t-none">
            <div class="table-responsive" id="dvPdf">
              
               <table class="table table-hover table-middle th-fw-light mb-0">
                  <thead>
                     <tr style="text-align: center;">
                        <th style="text-align: center;">{{'ID'|translate}}</th>
                        <th style="text-align: center;">{{'Inspect Location'|translate}}</th>
                        <th style="text-align: center;">{{'Description'|translate}}</th>
                        <th style="text-align: center;">{{'Number'|translate}}</th>
                        <th style="text-align: center;">{{'Completion Rate'|translate}}</th>
                        <th style="text-align: center;">{{'Executed Quantity'|translate}} 
                           <br> 
                           <mat-label>{{'Measurements'|translate}}</mat-label>
                          
                        </th>
                        

                        <!-- <th style="text-align: center;">{{'Approved Quantity'|translate}}
                        <br> 
                        <mat-label>{{'Measurements'|translate}}</mat-label>
                     
                     </th> -->
                     <!-- <th style="text-align: center;">{{'Completion Rate'|translate}}</th> -->
                        <th style="text-align: center;">{{'Controls'|translate}}</th>
                     </tr>
                  </thead>
                  <tbody *ngFor="let item of Location; let i = index"  >
                     <tr  style="text-align: center;">
                        <td>{{item.rfi_id}}</td>
                        <td>{{item.name}}</td>
                        <td>
                           <mat-form-field class="qua-wid mrgn-b-lg" >
                              <mat-label>Description</mat-label>
                              <input matInput name="desc"                                
                               [(ngModel)]="item.description"                              
                              />
                        </mat-form-field>
                        </td>
                        <td>
                           <mat-form-field class=" half-wid mrgn-b-lg">
                           <input matInput  
                          [(ngModel)]="item.Number"
                          placeholder="{{'Number'| translate}}"
                          />
                        </mat-form-field>
                        </td>
                        <td>
                          
                           <mat-form-field class="qua-wid mrgn-b-lg" >
                              <mat-label>Percentage</mat-label>
                              <input matInput name="percentage"                                
                               [(ngModel)]="item.percentage"                              
                              />
                        </mat-form-field>
                         </td>
                       <td>
                        
                        <mat-form-field class=" qua-wid mrgn-b-lg">
                           <mat-label>{{'Length'|translate}}</mat-label>
                           <input matInput name="qty_length"  
                            [(ngModel)]="item.qty_length" 
                              (change)="calQty(item)"
                           placeholder={{qty_length}}
                           />
                     </mat-form-field>
                  &nbsp; 
                  &nbsp; 

                     <mat-form-field class="qua-wid mrgn-b-lg" *ngIf="dimension>1">
                        <mat-label>{{'Width'|translate}}</mat-label>
                        <input matInput name="qty_width" 
                         [(ngModel)]="item.qty_width" 
                         (change)="calQty(item)"
                        placeholder={{qty_width}}
                        />
                  </mat-form-field>
                  &nbsp; 
                  &nbsp; 
                  <mat-form-field class=" qua-wid mrgn-b-lg" *ngIf="dimension>2">
                     <mat-label>{{'Height'|translate}}</mat-label>
                     <input matInput name="qty_height" 
                      [(ngModel)]="item.qty_height" 
                      (change)="calQty(item)"
                     placeholder={{qty_height}}
                     />
               </mat-form-field>
               &nbsp; 
               &nbsp;
               <mat-form-field class="qua-wid mrgn-b-lg" *ngIf="1>2">
                  <mat-label>{{'Total'|translate}}</mat-label>
                  <input matInput name="qty"  
                  disabled
                   [(ngModel)]="item.qty" 
                 (change)="calpercentage(item)"
                  />
            </mat-form-field>
           
                         </td>

                         
                         <!-- <td>
                           
                        <mat-form-field class="qua-wid mrgn-b-lg">

                            <mat-label>{{'Length'|translate}}</mat-label>
                           <input matInput name="approved_length"  
                           (change)="calApprove()"
                           [(ngModel)]="approved_length"
                           />
                     </mat-form-field>
                     &nbsp; &nbsp;
                         <mat-form-field class="qua-wid mrgn-b-lg">
                           <mat-label>{{'Width'|translate}}</mat-label>
                              <input matInput name="approved_width"  
                              (change)="calApprove()"
                              [(ngModel)]="approved_width"
                              />
                        </mat-form-field>
                        &nbsp; &nbsp;
                        <mat-form-field class="qua-wid mrgn-b-lg">
                            <mat-label>{{'Height'|translate}}</mat-label>
                           <input matInput name="approved_height"  
                           (change)="calApprove()"
                           [(ngModel)]="approved_height"
                           />
                     </mat-form-field>
                     &nbsp; &nbsp;
                     <mat-form-field class="qua-wid mrgn-b-lg">
                        <mat-label>{{'Total'|translate}}</mat-label>
                        <input matInput name="approve"  
                       disabled
                        [(ngModel)]="approve"
                        />
                  </mat-form-field>
                
                         </td> -->
                         <td>
                            <mat-icon matTooltip="{{'Delete'|translate}}" (click)="delete(i)">delete</mat-icon>
                       </td>
                     </tr>
                   
                  </tbody>
                 
               </table>
               <div fxLayout="row" fxLayoutAlign="end end">
                  <button class="mrgn-b-xs" mat-raised-button color="accent" (click)="AddCount()">{{'Add'|translate}}</button>
                      
             </div>
            </div>
           
         </div>
   </mat-card>
   </div>
   