<div class="container" fxLayout="wrap row" fxLayout.xs="column" fxLayoutGap="1%" fxLayoutAlign="center">
   <mat-card id="card1">
           <div class="gene-card-title">
                   <div fxLayout="row" fxLayoutAlign="space-between center">
                      <div fxLayout="column">
                         <h4>{{'Request of Count'|translate}}</h4>
          
                      </div> <span fxFlex></span>
                      
                      <div fxLayout="column">
                         <div class="row">
                         <button class="mrgn-b-xs" mat-raised-button color="primary" (click)="backtorfi()">
                           
                           <mat-icon>exit_to_app</mat-icon> 
                           {{'Back'|translate}}</button>
                         <button *ngIf ="state == 'draft' " class="mrgn-b-xs" mat-raised-button color="accent"
                          (click)="ApproveDraft()"
                          [ngStyle]="{ 'display': (boolconsultant ? 'none' :  'block' ) }">
                          
                         
                          {{'Draft Approve'|translate}}</button>
                          <button *ngIf="consultant_approve!='draft'" class="mrgn-b-xs" [disabled]="consultant_approve == 'accepted'" mat-raised-button color="warn" (click)="ApproveConsultant()"
                          [ngStyle]="{ 'display': (boolcontractor ? 'none' :  'block' ) }"
                          >{{'Collector Specialist'|translate}}</button>
               
                       </div>
                      </div> 
                   </div>
                  
                   <mat-divider></mat-divider>
        </div>
        <div class="gene-card-content pad-t-none" style="overflow-x:auto;">
               <div class="table-responsive "  id="dvPdf" >
                 
                  <table class=" table-responsive table flexbox"  fxLayout="row">
                     <thead  fxLayout="column"  fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50" fxFlex.gt-md="50" class="mrgn-b-xs" >
                        <tr  fxLayout="column"   fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50" fxFlex.gt-md="50" class="mrgn-b-xs" >
                           <td class="col">{{'Request Number'|translate}}</td>
                           <td class="col">{{'From Duration'|translate}}</td>
                           <td class="col">{{'To Duration'|translate}}</td>
                         
                           <td class="col">{{'Request Status'|translate}}</td>
                           <td class="col">{{'Unit of Measure'|translate}}</td>
                           <td class="col">{{'Item Name'|translate}}</td>
                           <td class="col">{{'Section Name'|translate}}</td>
                          
                        </tr>
                     </thead>
                     <tbody  fxLayout="column"  fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50" fxFlex.gt-md="50">
                        <tr  *ngFor="let item of count"   fxLayout="column"  fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50" fxFlex.gt-md="50">
                         
                          <td class="col">{{item.name}}</td>
                          <td class="col">{{item.date_from}}</td>
                          <td class="col">{{item.date_to}}</td>
                      
                          <td class="col">{{state | translate}}</td>
                         
                         <td class="col">{{item.product_uom_name}}</td>
                         <td class="col">{{item.quantity_name}}</td> 
                         <td class="col">{{item.section_name}}</td> 
                        
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
       <div class="gene-card-title">
           <div fxLayout="row" fxLayoutAlign="space-around center">
              <div fxLayout="column">
                 <h4>{{'Inspect Location'|translate}}</h4>
  
              </div> <span fxFlex></span>
              
            
           </div>
          
           <mat-divider></mat-divider>
        </div>
        <div class="gene-card-content pad-t-none">
           <div class="table-responsive" id="dvPdf">
            <table class="table table-hover table-middle th-fw-light mb-0">
               <thead>
                    <tr>
                       <th style="text-align: center;"></th>
                       <th style="text-align: center;"></th>
                       <th style="text-align: center;"></th>
                       <th style="text-align: center;">{{'Contructor'|translate}}</th>
                      <th style="text-align: center;"></th>
                      <th style="text-align: center;"></th>
                      <th style="text-align: center;"></th>
                  
                     <th style="text-align: center;">{{'Consultant'|translate}}</th>
                      <th style="text-align: center;"></th>
                      <th style="text-align: center;"></th>
                      <th style="text-align: center;"></th>
                    </tr>
                    <tr>
                        <th style="text-align: center;">{{'Inspect Location'|translate}}</th>
                        <th style="text-align: center;">{{'Description'|translate}}</th>
                        <th style="text-align: center;">{{'Number'|translate}}</th>
                        <th style="text-align: center;">{{'Length'|translate}}</th>
                       <th style="text-align: center;" *ngIf="dimension>1">{{'Width'|translate}}</th>
                       <th style="text-align: center;" *ngIf="dimension>2">{{'Height'|translate}}</th>
                       <th style="text-align: center;">{{'Percentage'|translate}}</th>
                       <th style="text-align: center;">{{'Executed Quantity'|translate}}</th>
                        <th style="text-align: center;">{{'Number'|translate}}</th>
                       <th style="text-align: center;">{{'Length'|translate}}</th>
                       <th style="text-align: center;" *ngIf="dimension>1">{{'Width'|translate}}</th>
                       <th style="text-align: center;" *ngIf="dimension>2">{{'Height'|translate}}</th>
                       <th style="text-align: center;">{{'Percentage'|translate}}</th>
                       <th style="text-align: center;">{{'Approved Quantity'|translate}}</th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr *ngFor="let item of Items" style="text-align: center;">
                        <td style="text-align: center;">{{item.location}}</td>
                        <td style="text-align: center;">
                           <span *ngIf="state!='draft'">{{item.description}}</span>
                           <input *ngIf="state=='draft'" (change)="updateItem(item)"
                            matInput name="description" [value]="item.description" placeholder="{{'Enter'|translate}}" [(ngModel)]="item.description"/>
                        </td>
                        <td style="text-align: center;">
                           <span *ngIf="state!='draft'">{{item.qty_unit}}</span>
                           <input *ngIf="state=='draft'" (change)="updateItem(item)"
                            matInput name="qty_unit" [value]="item.qty_unit" placeholder="{{'Enter'|translate}}" [(ngModel)]="item.qty_unit"/>
                        </td>
                        <td style="text-align: center;">
                           <span *ngIf="state!='draft'">{{item.qty_length}}</span>
                           <input *ngIf="state=='draft'" (change)="updateItem(item)"
                            matInput name="qty_length" [value]="item.qty_length" placeholder="{{'Enter'|translate}}" [(ngModel)]="item.qty_length"/>
                        </td>
                        <td style="text-align: center;" *ngIf="dimension>1">
                           <span *ngIf="state!='draft'">{{item.qty_width}}</span>
                           <input *ngIf="state=='draft'" (change)="updateItem(item)"
                            matInput name="qty_width" [value]="item.qty_width" placeholder="{{'Enter'|translate}}" [(ngModel)]="item.qty_width"/>
                        </td>
                        <td style="text-align: center;" *ngIf="dimension>2">
                           <span *ngIf="state!='draft'">{{item.qty_height}}</span>
                           <input *ngIf="state=='draft'" (change)="updateItem(item)"
                            matInput name="qty_height" [value]="item.qty_height" placeholder="{{'Enter'|translate}}" [(ngModel)]="item.qty_height"/>
                        </td>
                        <td style="text-align: center;">
                           <span *ngIf="state!='draft'">{{item.qty_pers}}</span>
                           <input *ngIf="state=='draft'" (change)="updateItem(item)"
                            matInput name="qty_pers" [value]="item.qty_pers" placeholder="{{'Enter'|translate}}" [(ngModel)]="item.qty_pers"/>
                        </td>
                        <td style="text-align: center;">
                           <span *ngIf="state!='draft'">{{item.qty}}</span>
                           <input *ngIf="state=='draft'" (change)="updateItem(item)"
                            matInput name="qty" [value]="item.qty" placeholder="{{'Enter'|translate}}" [(ngModel)]="item.qty"/>
                        </td>
                        <!--Number-->
                        <td class="sm-wid"  style="text-align: center;">
                           <input (change)="calQty(item)"  [disabled]="boolcontractor == true"
                            matInput name="approved_unit" [value]="item.approved_unit" placeholder="{{'Enter'|translate}}" [(ngModel)]="item.approved_unit"/></td>
                      <!--Length-->
                      <td class="sm-wid"  style="text-align: center;"><input (change)="calQty(item)" [disabled]="boolcontractor == true"
                          matInput name="approved_length" [value]="item.approved_length" placeholder="{{'Enter'|translate}}" [(ngModel)]="item.approved_length"/></td>
                        <!--Width-->
                        <td class="sm-wid" style="text-align: center;" *ngIf="dimension>1"><input (change)="calQty(item)"  [disabled]="boolcontractor == true"
                            matInput name="approved_width" placeholder="{{'Enter'|translate}}" [value]="item.approved_width" [(ngModel)]="item.approved_width" placeholder="{{'Enter'|translate}}"/></td>
                       <!--Height-->
                        <td class="sm-wid" style="text-align: center;" *ngIf="dimension>2"><input (change)="calQty(item)"  [disabled]="boolcontractor == true"
                            matInput name="approved_height" [value]="item.approved_height" [(ngModel)]="item.approved_height"/></td>
                       <!--Approve Precentage-->
                        <td class="sm-wid" style="text-align: center;"><input matInput [disabled]="boolcontractor == true"
                            (change)="calQty(item)"  name="approved_percentage" [value]="item.qty_pers" [(ngModel)]="item.approved_pers" placeholder="{{'Enter'|translate}}"/></td>
                        <!--Approve Quantity -->
                        <td class="sm-wid" style="text-align: center;"><input matInput [disabled]="boolcontractor == true" 
                            (change)="calQty(item)"  name="approved_qty" [value]="item.approved_qty" placeholder="{{'Enter'|translate}}"  [(ngModel)]="item.approved_qty" disabled/></td>
                       
                    </tr>
                 </tbody>
              </table>
           </div>
         
           
        </div>
        <!-- <td>{{'By Contractor'|translate}} : {{user}}  , {{'By Date'|translate}} :</td>  -->
        <tr *ngFor="let a of activity_log">
         <td>{{a.action}}</td>
         <td>On {{a.date}}</td>
      </tr>
   </mat-card>
  
   <mat-card>
      <div class="gene-card-title">
         <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column">
               <h4>{{'Comment'|translate}}</h4>

            </div> <span fxFlex></span>
            
            
         </div>
        
         <mat-divider></mat-divider>
</div>
      <div>
         <mat-card>
           
            <form>
              <div fxLayout="column" style="height:100%;">
              <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <!--Department-->
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100" >
                  <mat-form-field class="full-wid mrgn-b-lg">
                        <mat-label>{{'Department'|translate}}</mat-label>
                        <mat-select name="department"  [(ngModel)]="department">      
                             <div *ngFor="let data of commentsection"> 
                              <mat-option value={{data.id}}>
                                 {{data.name}}
                              </mat-option>
                             </div>
                      </mat-select>
                  </mat-form-field>
               </div>
                   <!--Department-->
                   <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100" >
                     <mat-form-field class="full-wid mrgn-b-lg">
                           <mat-label>{{'Name'|translate}}</mat-label>
                           <mat-select name="userid" [(ngModel)]="userid">      
                                <div *ngFor="let item of commentusers" > 
                                 <mat-option value={{item.id}}>
                                   {{item.name}}
                                 </mat-option>
                                </div>
                         </mat-select>
                     </mat-form-field>
                  </div>
                   <!--Note-->
                   <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100" >
                     <mat-form-field class="full-wid mrgn-b-lg">
                           <mat-label>{{'Note'|translate}}</mat-label>
                           <textarea matInput name="details"  
                           cdkTextareaAutosize [(ngModel)]="details"
                            #autosize="cdkTextareaAutosize"
                             cdkAutosizeMinRows="1"
                              cdkAutosizeMaxRows="5"></textarea> 
                     </mat-form-field>
                  </div>
         
              </div>
                     <div fxLayout="row" fxLayoutAlign="center">
                            <button mat-button mat-raised-button color="accent" type="button" dir="ltr"
                            (click)="Save()" [disabled]="boolcontractor == true">
                              <mat-icon>save</mat-icon>
                            {{'Send'|translate }}</button>
                     </div>
              </div>
            </form>
          </mat-card>
      </div>
      <div style="overflow-y:scroll; height:45%;">
         <div *ngFor="let comment of Comments ; let  i = index"  >
          <mat-card style="text-align: center;border-style: solid;" [ngStyle]="{ 'border-color': ( i%2 == 0 ?  '#1565c0' :  '#00acac' ) }"> 
              <h5>{{comment.user_name}}</h5>
              <h5>{{comment.comments}}</h5>
              <!-- <h6>بواسطة</h6> -->
              <h6>{{comment.name}}</h6>
         </mat-card>
         </div>
          </div>
   </mat-card>
</div>