
<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card>
       <div class="gene-card-title">
          <div fxLayout="row" fxLayoutAlign="space-around center"  fxLayout.xs="column">
             <div fxLayout="column">
                <h4>{{'Time Sheet'|translate}}</h4>
 
             </div> <span fxFlex></span>
             
             <div fxLayout="column">
               <div fxLayout="row">
                  <button class="mrgn-b-xs" mat-raised-button color="primary" (click)="back()"><mat-icon>exit_to_app</mat-icon></button>
      
                <button class="mrgn-b-xs" mat-raised-button color="primary" (click)="openDialog()">
                  <mat-icon>queue</mat-icon>  
                  {{'Add'|translate}}</button>
               </div>
             </div> 
          </div>
         
          <br/>
          <div fxLayout="row" fxLayoutAlign="center center"  fxLayout.xs="column">
           <button class="mrgn-b-xs" mat-raised-button color="primary"  style=" color: white; padding: 1%; padding-left: 3%; padding-right: 3%; font-size: medium; font-weight: bold;" (click)="state('draft')">{{'draft'|translate}}
                       </button>

           <button class="mrgn-b-xs" mat-raised-button color="accent" (click)="state('accepted')" style=" padding: 1%;  padding-left: 3%; padding-right: 3%; font-size: medium; font-weight: bold;">{{'accepted'|translate}}</button>
           <button class="mrgn-b-xs" mat-raised-button color="warn" (click)="statereject('rejected')" style=" padding: 1%;  padding-left: 3%; padding-right: 3%; font-size: medium; font-weight: bold;">{{'rejected'|translate}}</button>
            
         </div>
          <br/>
          
          <mat-divider></mat-divider>
       </div>
       <div class="gene-card-content pad-t-none">
          <div class="table-responsive">
             <table class="table table-hover table-middle th-fw-light mb-0">
                <thead>
                   <tr>
                     <th></th>
                     <th></th>
                     <th></th>
                     <th></th>
                     <th colspan="2" style="text-align: center;">{{'Appointment period'|translate}}</th>
                     <th></th>
                     <th></th>
                     <th></th>
                   </tr>
                   <tr>
                      <th>{{'Engineer Name'|translate}}</th>
                        <th>{{'The job that candidate to'|translate}}</th>
                        <th>{{'Specialization'|translate}}</th>
                        <th>{{'Excueted Project Name'|translate}}</th>
                        <th>{{'From'|translate}}</th>
                        <th>{{'To'|translate}}</th>
                        <th>{{'Request Status'|translate}}</th>
                        <th>{{'Details'|translate}}</th>
                   </tr>
                </thead>
                <tbody *ngFor="let data of timesheet | paginate: { id: 'listing_pagination',
                     itemsPerPage: 10,
                     currentPage: page,
                     totalItems: totalRec };">
                   <tr *ngIf="data.state == statename && data.contract_id == contract_id">
                       <td>{{data.user_name}}</td>
                       <td>{{data.position_description}}</td>
                       <td>{{data.specialty_name}}</td>
                       <td>{{data.project_name}}</td>
                       <td>{{data.from_date}}</td>
                       <td>{{data.to_date}}</td>
                       <td>{{data.state |translate }}</td>
                       <td>
                        <div class="row">
                           <button mat-button color='primary' >
                            <mat-icon >arrow_left </mat-icon>                           
                         </button>
                        </div>
                      </td>
                   </tr>
                </tbody>
             </table>
             <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true"
              previousLabel="{{'Previous'|translate}}"
               nextLabel="{{'Next'|translate}}"
              (pageChange)="page = $event"></pagination-controls>
          </div>
       </div>
    </mat-card>
 </div>
