<mat-card dir="rtl">
    <div class="gene-card-title">
       <div fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="column" fxLayoutAlign="start center">
             <h3>{{'Result of Approve Request with Number'|translate}} {{data.number}}</h3>
          </div>
          <span fxFlex></span>
       </div>
       <mat-divider></mat-divider>
    </div>
    <div mat-dialog-content>
          <form #form="ngForm">
                <div fxLayout="column">
                   <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                      <!-- Approve State  Options-->
                      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                         <mat-form-field class="full-wid mrgn-b-lg">
                               <mat-label>{{'Approvment'|translate}}</mat-label>
                               <mat-select name="approve" [(ngModel)]="approve">
                                
                                    
                                       <mat-option  (click)="disbleCommet()" value="accepted" >{{'Accepted'|translate}} Code A</mat-option>
                                       <mat-option (click)="enableCommet()" value="accepted-with-comment" >{{'Accepted With Comments'|translate}} Code B</mat-option>
                                       <mat-option  (click)="disbleCommet()" value="reject-resend" >{{'Rejected and must Resend'|translate}} Code C</mat-option>
                                       <mat-option  (click)="disbleCommet()" value="rejected" >{{'Rejected'|translate}} Code D</mat-option>
                               </mat-select>
                         </mat-form-field>
                      </div>

                      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                        <mat-form-field class="full-wid mrgn-b-lg">
                           
                              <input matInput name="comment"  [(ngModel)]="comment"
                              placeholder="{{'Comment'|translate}}" type="text"
                              [disabled]="!com"
                              >    
                              
                        </mat-form-field>
                     </div>
               

  </div>
                
                   <div fxLayout="row" fxLayoutAlign="space-between" mat-dialog-actions>
      
                         <button mat-button mat-raised-button color="warn"   (click)="close()"  type="button" dir="ltr">{{'Cancel'|translate }}
                            <mat-icon>cancel</mat-icon>
                         </button>
                         <button mat-button mat-raised-button color="accent"   (click)="onNoClick()" cdkFocusInitial>{{'Approve'|translate }}
                            <mat-icon>done_outline</mat-icon>
                         </button>                   
                   </div>
                </div>
             </form>
    </div>
 </mat-card>