<mat-card style="margin: auto; width: 50%;">
    <div class="gene-card-title">
       <div fxLayout="row" fxLayoutAlign="space-around center">
          <div fxLayout="column">
             <h4>{{projectname}} / {{'Project Items'|translate}}</h4>
          </div> <span fxFlex></span>
       </div>      
       <mat-divider></mat-divider>
    </div>
      
       <div class="gene-card-content pad-t-none">
        <form #form="ngForm">
            <div fxLayout="column">
               <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                  <!--Item Type-->
                  <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                     <mat-form-field class="full-wid mrgn-b-lg">
                           <mat-label>{{'Item Type'|translate}}</mat-label>
                           <mat-select name="itemtype"  [(ngModel)]="itemtype" >
                               <div *ngFor="let item of type">
                              <mat-option value="{{item.id}}" (click)="addname(item.name)">
                                 {{item.name}}
                                 </mat-option>
                              </div> 
                           </mat-select>
                     </mat-form-field>
                  </div>
        
              <!--Item Name-->
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                <mat-form-field class="full-wid mrgn-b-lg">
                    <input matInput name="item_name"  [(ngModel)]="item_name"
                    placeholder="{{'Project Item Name'|translate}}" type="text" required>    
                </mat-form-field>
            </div>

            </div>
            <div>
              <div fxLayout="row" fxLayoutAlign="center">
                    <button mat-button mat-raised-button color="accent" (click)="addItem()" fxLayoutAlign="center" type="button">{{'Add Project Item'|translate }}

                     <mat-icon>queue</mat-icon>
                    </button>
               </div>
            </div>
        </div>
    </form>

     <br/>        
   
           <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                 <div class="table-responsive" id="dvPdf">
 
                       <table class="table table-hover table-middle th-fw-light mb-0">
                          <thead>
                             <tr>
                                <th>{{'Item Type'|translate}}</th>
                                <th>{{'Project Item Name'|translate}}</th>
                                <th>{{'Controls'|translate}}</th>
                              </tr>
                          </thead>
                          <tbody>
                             <tr *ngFor="let item of itemsData; let i = index" >
                                <td>{{item.type_name}}</td>
                                <td>{{item.name}}</td>
                                <td><mat-icon (click)="removeitem(i)" matTooltip="{{'Delete' | translate}}">delete</mat-icon></td>
                              </tr>
                          </tbody>
                       </table>
                    </div>
           
     </div>
     <div fxLayout="row" fxLayoutAlign="center">
        <button mat-button mat-raised-button color="accent" [disabled]="itemsData.length == 0"
         fxLayoutAlign="center" type="button" (click)="SaveData()">{{'Add All'|translate }}
      <mat-icon>done_outline</mat-icon>
      </button>
    </div>
</div>
</mat-card>
