
<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
           <div class="gene-card-title">
              <div fxLayout="row" fxLayoutAlign="space-around center">
                 <div fxLayout="column">
                    <h4>{{'Request for Inspection'|translate}}</h4>
     
                 </div> <span fxFlex></span>
                 
                 <div fxLayout="column">
                    <button class="mrgn-b-xs" mat-raised-button color="primary" (click)="openDialog()">{{'Add Request'|translate}}</button>
                 </div> 
              </div>
             
              <mat-divider></mat-divider>
           </div>
           <div class="gene-card-content pad-t-none">
              <div class="table-responsive">
                 <table class="table table-hover table-middle th-fw-light mb-0">
                    <thead>
                       <tr>
                          <th>{{'Request Type'|translate}}</th>
                          <th>{{'Request Number'|translate}}</th>
                           <th>{{'Location of Works'|translate}}</th>
                          <th>{{'Inspection Date'|translate}}</th>
                          <th>{{'Start Date of Works'|translate}}</th>
                          <th>{{'End Date of Works'|translate}}</th>
                          <th>{{'Item Number'|translate}}</th>
                          <th>{{'Item Name'|translate}}</th>
                          <th>{{'Executed Quantity'|translate}}</th>                        
                          <th>{{'Controls'|translate}}</th>
                       </tr>
                    </thead>
                    <tbody>
                       <tr *ngFor="let data of RFI_tbl" >
                           <td>{{data.request_name}}</td>
                          <td>{{data.request_num}}</td>
                          <td>{{data.work_location}}</td>
                          <td>{{data.inspect_date}}</td>
                          <td>{{data.start_date}}</td>
                          <td>{{data.end_date}}</td>
                          <td>{{data.item_number}}</td>
                          <td>{{data.item_name}}</td>
                          <td>{{data.item_qty}}</td>
                         <td>
                                <div class="dropdown row">
                                        <button mat-icon-button matTooltip="{{'Delete'|translate}}">
                                              <mat-icon color="primary">delete</mat-icon>
                                        </button>
                                        <button mat-icon-button   matTooltip="{{'Detials'|translate}}" >
                                              <mat-icon  color="primary">arrow_back</mat-icon>
                                        </button>
                                        </div>
                         </td>
                      
                       </tr>
                 
                    </tbody>
                 </table>
              </div>
           </div>
        </mat-card>
     </div>