<mat-card dir="rtl">
    <div class="gene-card-title">
       <div fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="column" fxLayoutAlign="start center">
            <h3 >{{'Modify Project Schedule'|translate}} </h3>
          </div>
          <span fxFlex></span>
       </div>
       <mat-divider></mat-divider>
    </div>
    <div class="gene-card-content">
          <form #form="ngForm">
                <div fxLayout="column">
                   <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                     
                      <!--name-->
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                             <mat-form-field class="full-wid mrgn-b-lg ">
                             <input matInput name="name" [(ngModel)]="name" 
                             placeholder="{{'name'|translate}}" type="text" required>    
                          </mat-form-field> 
                          
                     </div>  
 
                   </div>
                </div>
                <div fxLayout="column">
                  <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    
                     <!--percentage-->
               <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                            <mat-form-field class="full-wid mrgn-b-lg ">
                            <input matInput value="{{percentage | number:'2'}}" name="percentage" [(ngModel)]="percentage" 
                            placeholder="{{'Percentage' | translate}}" type="text">    
                         </mat-form-field> 
                         
                    </div>  

                  </div>
               </div>
               
                <div fxLayout="row" fxLayoutAlign="space-between" style="margin-top: 5%;">
                  <button mat-button mat-raised-button color="warn" (click)="dialogRef.close()"  type="button" dir="ltr">{{'Cancel'|translate }}  <mat-icon>cancel</mat-icon></button>
                  <button mat-button mat-raised-button color="accent" (click)="Save()" type="submit">{{'Submited'|translate }}  <mat-icon>done_outline</mat-icon></button>
                  
            </div>
             </form>
    </div>
 </mat-card>
