<mat-card dir="rtl">
        <div class="gene-card-title">
           <div fxLayout="row" fxLayoutAlign="start center">
              <div fxLayout="column" fxLayoutAlign="start center">
                 <h3>{{'Done Works'|translate}}</h3>
              </div>
              <span fxFlex></span>
           </div>
           <mat-divider></mat-divider>
        </div>
        <div class="gene-card-content">
              <form #form="ngForm">
                    <div fxLayout="column">
                       <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                          <!--Item Number-->
                          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                             <mat-form-field class="full-wid mrgn-b-lg">
                                   <mat-label>{{'Item Number'|translate}}</mat-label>
                                   <mat-select>
                                     <mat-option >
                                     
                                     </mat-option>
                                   </mat-select>
                             </mat-form-field>
                          </div>
                          <!--Item Name-->
                          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                                <mat-form-field class="full-wid mrgn-b-lg">
                                       <input matInput name="item_qty"
                                       placeholder="{{'Item Name'|translate}}" type="text" 
                                       required disabled>       
                                </mat-form-field>
                             </div>
                               <!--Quantity-->
                          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                                <mat-form-field class="full-wid mrgn-b-lg">
                                       <input matInput name="item_qty"
                                       placeholder="{{'Quantity'|translate}}" type="number" 
                                       required disabled>       
                                </mat-form-field>
                             </div>
                                    <!--Price-->
                          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                                <mat-form-field class="full-wid mrgn-b-lg">
                                       <input matInput name="item_qty"
                                       placeholder="{{'Price'|translate}}" type="number" 
                                       required disabled>       
                                </mat-form-field>
                             </div>
                                       <!-- Total Price-->
                          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                                <mat-form-field class="full-wid mrgn-b-lg">
                                       <input matInput name="item_qty"
                                       placeholder="{{'Total Price'|translate}}" type="number" 
                                       required disabled>       
                                </mat-form-field>
                             </div>
                   
                   
                   
                     </div>
                       <div fxLayout="row" fxLayoutAlign="space-between">
                             <button mat-button mat-raised-button color="accent" type="submit">{{'Add'|translate }}
                                <mat-icon>done_outline</mat-icon>
                             </button>
                             <button mat-button mat-raised-button color="warn" (click)="dialogRef.close()"  type="button" dir="ltr">{{'Cancel'|translate }}
                              <mat-icon>cancel</mat-icon>  
                             </button>
                             
                       </div>
                    </div>
                 </form>
        </div>
     </mat-card>