@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@700&display=swap');
mat-icon-button
{
    width: 25%;
}


element.style , td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type 

{
    text-align: center !important;
}


.mat-menu-content:not(:empty){
    margin-left: 5% !important;

}

mat-menu-item
{
    border-bottom-color: black;
}

tr , td , th 
{
    text-align: center;
}

tr th 
{
    text-align: center;

}


tr , td  , th
{
    text-align: center !important;
}

th , button , thead{
   
    font-size: medium;
    font-family: 'Cairo', sans-serif;
}

h4{
    font-family: 'Tajawal', sans-serif;
}