<!--Extracts Table-->
<mat-card>
       <div class="gene-card-title">
          <div fxLayout="row" fxLayoutAlign="space-around center">
             <div fxLayout="column">
                <h4> {{projectname}} / {{'Extracts'|translate}}</h4>
 
             </div> <span fxFlex></span>
             
             <div fxLayout="column">
                <button class="mrgn-b-xs" mat-raised-button color="primary" (click)="open()">{{'Add Extract'|translate}}

                  <mat-icon>queue</mat-icon>
                </button>
             </div> 
          </div>
         
          <mat-divider></mat-divider>
       </div>
       <div class="gene-card-content pad-t-none">
          <div class="table-responsive">
             <table class="table table-hover table-middle th-fw-light mb-0">
                <thead>
                   <tr>
                      <th  style="text-align: center;"></th>
                   
                      <th  style="text-align: center;">{{'Extract Number'|translate}}</th>
                      <th  style="text-align: center;">{{'Executed Business Amount'|translate}}</th>
                      <th  style="text-align: center;">{{'The amount paid'|translate}}</th>
                      <th  style="text-align: center;">{{'Total Price'|translate}}</th>
                      <th style="text-align: center;">{{'Controls'|translate}}</th>
                     
                   </tr>
                </thead>
                <tbody>
                     <ng-container *ngFor="let invoice of Invoices | paginate: { id: 'listing_pagination',
                     itemsPerPage: 10,
                     currentPage: page,
                     totalItems: totalRec };">
                   <tr style="text-align: center;">
                     <td>
                        <span (click)="openCloseRow(invoice.id)">
                               <button *ngIf="rowSelected!=invoice.id; else close" color="primary"  mat-icon-button matTooltip="{{'More Options'|translate}}"  > 
                                  <!--[matMenuTriggerFor]="menu" -->
                                 <mat-icon>arrow_drop_down</mat-icon>
                              </button>
                              <ng-template #close>
                                    <button color="primary"  mat-icon-button matTooltip="{{'Hide'|translate}}" >
                                          <!-- [matMenuTriggerFor]="menu" -->
                                       <mat-icon>arrow_drop_up</mat-icon>
                                    </button>
                                </ng-template>
                              </span>
                     </td>
                                          <td style="text-align: center;">{{invoice.id}}</td>
                                          <td  style="text-align: center;">{{invoice.total_excuted}}</td>
                                          <td  style="text-align: center;">{{invoice.paid}}</td>
                                          <td  style="text-align: center;">{{invoice.total_price}}</td>


                                          
                         <td>
                           <div class="dropdown row">
                                 <button mat-icon-button  (click)="invoicedetails(invoice.id)" matTooltip="{{'Detials'|translate}}" >
                                              <mat-icon  color="primary">arrow_back</mat-icon>
                                        </button>
                               </div>
                         </td>
                       
                   </tr>

                   <tr *ngIf="rowSelected==invoice.id" style="background-color: #C1C7C9;">
                     <td></td>
                        <td colspan="4">
                            <table class="table table-striped">
                              <th>{{'From'|translate}}</th>
                              <th>{{'To'|translate}}</th>
                              <th>{{'Total_Vat'|translate}}</th>
                              <th>{{'Total_Discount'|translate}}</th>
                                <tbody>
                                    <tr>  
                                       <td  style="text-align: center;">{{invoice.date_from}}</td>
                                       <td  style="text-align: center;">{{invoice.date_to}}</td>
                                       <td  style="text-align: center;">{{invoice.Total_vat}}</td>
                                       <td  style="text-align: center;">{{invoice.total_discount}}</td>
                                      
                                           
                                  </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                   </ng-container>
                </tbody>
             </table>
             <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true"
             previousLabel="{{'Previous'|translate}}"
              nextLabel="{{'Next'|translate}}"
             (pageChange)="page = $event"></pagination-controls>
          </div>
       </div>
    </mat-card>


