<mat-card dir="rtl">
    <div class="gene-card-title">
       <div fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="column" fxLayoutAlign="start center">
            <h3 >{{'Role'}} / {{'Modify Role'}} </h3>
          </div>
          <span fxFlex></span>
       </div>
       <mat-divider></mat-divider>
    </div>
    <div class="gene-card-content">
          <form #form="ngForm">
                <div fxLayout="column">
                   <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                     
                      <!--username-->
                <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                             <mat-form-field class="full-wid mrgn-b-lg ">
                             <input matInput name="rolename" [(ngModel)]="rolename" 
                             placeholder="{{'rolename'}}" type="text" required>    
                          </mat-form-field> 
                          
                     </div>  
 
                   </div>
                </div>
                <div fxLayout="column">
                  <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    
                     <!--description-->
               <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                            <mat-form-field class="full-wid mrgn-b-lg ">
                            <input matInput name="description" [(ngModel)]="description" 
                            placeholder="{{'description' | translate}}" type="text" required>    
                         </mat-form-field> 
                         
                    </div>  

                  </div>
               </div>
               <div fxLayout="column">
                  <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    
                    
               <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                            
                            <mat-list>  
                              <mat-list-item *ngFor="let item of activityrights">
                                 <!-- <mat-form-field class="full-wid mrgn-b-lg "> -->
                                 <mat-checkbox matInput [name]="item" [(ngModel)]="item.Checked" (change)="getCheckboxValues($event,item)">{{ item.name }}</mat-checkbox>
                              <!-- </mat-form-field> -->
                               </mat-list-item>
                           </mat-list> 
                         
                    </div>  

                  </div>
               </div>
                <div fxLayout="row" fxLayoutAlign="space-between">
                  <button mat-button mat-raised-button color="warn" (click)="dialogRef.close()"  type="button" dir="ltr">{{'Cancel'|translate }}  <mat-icon>cancel</mat-icon></button>
                  <button mat-button mat-raised-button color="accent" (click)="Save()" type="submit">{{'Submited'|translate }}  <mat-icon>done_outline</mat-icon></button>
                  
            </div>
             </form>
    </div>
 </mat-card>
