<mat-card>
   
        <div class="gene-card-title">
            <div fxLayout="row" fxLayoutAlign="space-between"  fxLayout.xs="column">
                <div fxLayout="column">
                   <h4>{{'USERS LIST'|translate}}</h4>
    
                </div> <span fxFlex></span>
                
                <div fxLayout="column">
                   <button class="mrgn-b-xs" mat-raised-button color="primary" (click)="openDialog()">
                      <mat-icon>queue</mat-icon> {{'Add User'|translate}}</button>
                </div> 
             </div>
        </div>
    
            
                 <div class="gene-card-content pad-b-none">
                    
                    <div class="table-responsive">
                         <table class="table table-hover table-middle th-fw-light mb-0">
                               <thead>
                                  <tr>
                                     <th>{{'username'|translate}}</th>
                                     <th>{{'Email'|translate}}</th>
                                     <th>{{'Job Title'|translate}}</th>
                                     <th>{{'Controls'|translate}}</th>
                                   
                                  </tr>
                               </thead>
                               <tbody>
                                  <tr *ngFor="let data of userlist">
                                     <td>{{data.name}}</td>
                                     <td>{{data.login}}</td>
                                     <td>{{data.user_job | translate}}</td>
                                     <td>
                                        <button mat-icon-button color="primary" matTooltip="{{'Delete'|translate}}">
                                     <mat-icon>delete</mat-icon>
                                     </button>
                                       <button mat-icon-button color="primary" matTooltip="{{'Edit'|translate}}">
                                        <mat-icon>edit</mat-icon>
                                        </button>
                                     </td>
                                  </tr>
                               </tbody>
                            </table>
                          
                    </div>  
                   
     
                 </div>
              </mat-card>