<div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
   <mat-card>
      <div class="gene-card-title">
         <div fxLayout="row" fxLayoutAlign="space-around center">
            <div fxLayout="column">
               <h4>{{'Quantity Table'|translate}}</h4>

            </div> <span fxFlex></span>
            
            <div fxLayout="column">
               <div class="row"  fxLayoutAlign="space-between">
               <button class="mrgn-b-xs" mat-raised-button color="primary" (click)="openDialog()"
               [ngStyle]="{ 'display': (boolrole ? 'none' :  'block' ) }">
                  {{'Add'|translate}}
                  <mat-icon>queue</mat-icon>
               </button>
               <button  matTooltip="{{'Discount'|translate}}" class="mrgn-b-xs" mat-raised-button color="primary" 
               (click)="opendiscount()"
               [ngStyle]="{ 'display': (boolrole ? 'none' :  'block' ) }"
               ><mat-icon>money_off</mat-icon></button>
            </div>
            </div> 
         </div>
         <mat-divider></mat-divider>
         <div fxLayout="row wrap" fxLayoutAlign="space-between center">
         
            <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
               <h4>{{'Filter by'|translate}}</h4>
              
           </div>

         </div>
         <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="100" fxFlex.gt-md="45">
               <mat-form-field class="full-wid mrgn-b-lg">
                     <mat-label>{{'Project Items'|translate}}</mat-label>
                     <mat-select  name="proj_item"  [(ngModel)]="proj_item">
                         <mat-option  (click)="bindItemType('all','projectContent')" value="0">{{'All'|translate}}</mat-option>
                     <div *ngFor="let data of projectitems">
                         <mat-option  (click)="bindItemType(data.id,'projectContent')" value={{data.id}}>{{data.name}}</mat-option>
                       </div>
                    </mat-select>
                     
               </mat-form-field>
            </div>

            <div fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="100" fxFlex.gt-md="45">
               <mat-form-field class="full-wid mrgn-b-lg">
                     <mat-label>{{'Specify Works'|translate}}</mat-label>
                     <mat-select  name="item_type"  [(ngModel)]="item_type">
                        <mat-option  (click)="bindItemType('all','bussinessType')" value="0">{{'All'|translate}}</mat-option>
                        <div *ngFor="let data of section">
                         <mat-option  (click)="bindItemType(data.id,'bussinessType')" value={{data.id}}>{{data.name}}</mat-option>
                        </div>
                     </mat-select>
                     
               </mat-form-field>
            </div>
         </div>
         <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="100" fxFlex.gt-md="45">
          <mat-checkbox (change)="FilterExceed($event)">{{'Exceed Qunatiyu with Contracted Qunatity'|translate}}</mat-checkbox>
            </div>
            <div fxFlex.gt-sm="45" fxFlex.gt-xs="45" fxFlex="100" fxFlex.gt-md="45">
               <mat-checkbox (click)="HideDiscount()">{{'Hide Total Amount with Discount'|translate}}</mat-checkbox>
            </div>
         </div>
         <mat-divider></mat-divider>
      </div>
      <div class="gene-card-content pad-t-none">
         <div class="table-responsive" id="dvPdf">
           
            <table class="table table-hover table-middle th-fw-light mb-0 ">
               <thead>
                  <tr>
                   <th></th>
                  <th>{{'ID'|translate}}</th>   
                  <th>{{'Project Items'|translate}}</th>
                  <th>{{'Type Of Works'|translate}}</th>
                  <th >{{'Item Name'|translate}}</th> 
                  <th>{{'Item Number'|translate}}</th>                
                  <th>{{'Description'|translate}}</th>
                  <th>{{'Contracted Quantities'|translate}}</th>
                  <th>{{'Extecuted Quantities'|translate}}</th>
                 
                  </tr>
               </thead>
               <tbody>
                  <ng-container *ngFor="let data of Qty_tbl| paginate: { id: 'listing_pagination',
                     itemsPerPage: 10,
                     currentPage: page,
                     totalItems: totalRec }; let i = index">
                     <tr [ngStyle]="{'background-color': (rowSelected==data.id ? '#C1C7C9' : 'white')}">
                                    
                        <!-- <td [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">
                           <span>{{data.first_subsection_name}}</span>
                        </td>
                        <td [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }" >
                           <span>{{data.main_section_name}}</span>
                        </td>               
                        <td style="width:7%" [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">
                           <span>{{data.item_number}}</span>
                        </td>
                        <td  [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">
                           <span>{{data.item_name}}</span>
                        </td>     -->
                        
                        <td>
                           <span (click)="openCloseRow(data.id)">
                                  <button *ngIf="rowSelected!=data.id; else close" color="primary"  mat-icon-button matTooltip="{{'More Options'|translate}}"  > 
                                     <!--[matMenuTriggerFor]="menu" -->
                                    <mat-icon>arrow_drop_down</mat-icon>
                                 </button>
                                 <ng-template #close>
                                       <button color="primary"  mat-icon-button matTooltip="{{'Hide'|translate}}" >
                                             <!-- [matMenuTriggerFor]="menu" -->
                                          <mat-icon>arrow_drop_up</mat-icon>
                                       </button>
                                   </ng-template>
                                 </span>
                        </td>
                        <td>{{i+1}}</td>
                        <td [ngStyle]="{ 'color': (data.flag   ? 'red' : 'black') }">
                           <span>{{data.first_subsection_name}}</span>
                        </td>
                        <td [ngStyle]="{ 'color': (data.flag   ? 'red' : 'black') }" >
                           <span>{{data.main_section_name}}</span>
                        </td>     
                       
                        <td  [ngStyle]="{ 'color': (data.flag   ? 'red' : 'black') }"
                           style="text-align: right;  width:35%" >
                           <span style="text-align: right; width:20%">{{data.item_name}}</span>
                        </td>         
                        <td style="width:7%" [ngStyle]="{ 'color': (data.flag   ? 'red' : 'black') }">
                           <span>{{data.item_number}}</span>
                        </td>
                        <td [ngStyle]="{ 'color': (data.flag   ? 'red' : 'black') }">
                           <span>{{data.description}}</span>
                        </td> 
                        <td [ngStyle]="{ 'color': (data.flag   ? 'red' : 'black') }">
                           <span>{{data.item_qty}}</span>
                        </td>
                      
                        <td [ngStyle]="{ 'color': (data.flag   ? 'red' : 'black') }">
                           <span>{{data.excuted}}</span>
                        </td>
                      
                      
                     </tr>

                     <tr *ngIf="rowSelected==data.id" style="background-color: #C1C7C9;">
                           <td></td>
                           <td></td>
                           <td colspan="5">
                               <table class="table table-striped">
                                 <th>{{'Items Type'|translate}}</th>
                                 <th>{{'Unit'|translate}}</th>
                                <th>{{'Unit Price'|translate}}</th>
                                 <th>{{'Total Quantities Price'|translate}}</th>
                                 <th>{{'Total Excuted'|translate}}</th>
                                   <tbody>
                                       <tr>  
                                          <td [ngStyle]="{ 'color': (data.flag   ? 'red' : 'black') }">
                                             <span>{{data.item_type | translate}}</span>
                                          </td>                
                                          <td [ngStyle]="{ 'color': (data.flag   ? 'red' : 'black') }">
                                             <span>{{data.product_uom_name}}</span>
                                          </td>
                                          <td [ngStyle]="{ 'color': (data.flag   ? 'red' : 'black') }">
                                             <span>{{data.price_unit}}</span>
                                          </td>
                                          <td [ngStyle]="{ 'color': (data.flag   ? 'red' : 'black') }">
                                             <span>{{data.price_total}}</span>
                                          </td>   
                                          <td [ngStyle]="{ 'color': (data.flag   ? 'red' : 'black') }">
                                             <span>{{data.total_excuted}}</span>
                                          </td>         
                                              
                                     </tr>
                                   </tbody>
                               </table>
                           </td>
                           <td></td>
                       </tr>
                  </ng-container>
                </tbody>


           
                <!-- <tbody  *ngIf='item_type != 0 && proj_item != 0' > 
                 <tr *ngFor="let data of Qty_tbl | paginate: { id: 'listing_pagination',
                     itemsPerPage: 10,
                     currentPage: page,
                     totalItems: totalRec }">
                                  
                        <td *ngIf=" data.first_subsection_name == item_name">
                           <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.first_subsection_name}}</span>
                        </td>
                        <td *ngIf=" data.first_subsection_name == item_name">
                           <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.main_section_name}}</span>
                        </td>               
                        <td *ngIf=" data.first_subsection_name == item_name">
                           <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.item_number}}</span>
                        </td>
                        <td *ngIf=" data.first_subsection_name == item_name">
                           <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.item_name}}</span>
                        </td>    
                        <td *ngIf=" data.first_subsection_name == item_name">
                           <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.item_type | translate}}</span>
                        </td>                
                        <td *ngIf=" data.first_subsection_name == item_name">
                           <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.product_uom_name}}</span>
                        </td>
                        <td *ngIf=" data.first_subsection_name == item_name">
                           <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.item_qty}}</span>
                        </td>
                        <td *ngIf=" data.first_subsection_name == item_name">
                           <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.price_unit}}</span>
                        </td>
                        <td *ngIf=" data.first_subsection_name == item_name">
                           <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.price_total}}</span>
                        </td>                   
                        <td *ngIf=" data.first_subsection_name == item_name">
                           <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.excuted}}</span>
                        </td>
                        <td *ngIf=" data.first_subsection_name == item_name">
                           <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.total_excuted}}</span>
                        </td>
                     </tr>
                  </tbody>
               

            
               
               <tbody *ngIf='proj_item != 0 && item_type == 0'>
             
                     <tr *ngFor="let data of Qty_tbl | paginate: { id: 'listing_pagination',
                     itemsPerPage: 10,
                     currentPage: page,
                     totalItems: totalRec }">
                                   
                        <td  *ngIf=" data.first_subsection_name == item_name || data.main_section_name == type_name">
                           <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.first_subsection_name}}</span>
                        </td>
                        <td  *ngIf=" data.first_subsection_name == item_name || data.main_section_name == type_name">
                           <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.main_section_name}}</span>
                        </td>               
                        <td  *ngIf=" data.first_subsection_name == item_name || data.main_section_name == type_name">
                           <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.item_number}}</span>
                        </td>
                        <td  *ngIf=" data.first_subsection_name == item_name || data.main_section_name == type_name">
                           <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.item_name}}</span>
                        </td>    
                        <td  *ngIf=" data.first_subsection_name == item_name || data.main_section_name == type_name">               
                             <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.item_type | translate}}</span>
                           </td>   
                        <td  *ngIf=" data.first_subsection_name == item_name || data.main_section_name == type_name">
                           <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.product_uom_name}}</span>
                        </td>
                        <td  *ngIf=" data.first_subsection_name == item_name || data.main_section_name == type_name">
                           <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.item_qty}}</span>
                        </td>
                        <td  *ngIf=" data.first_subsection_name == item_name || data.main_section_name == type_name">
                           <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.price_unit}}</span>
                        </td>
                        <td  *ngIf=" data.first_subsection_name == item_name || data.main_section_name == type_name">
                           <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.price_total}}</span>
                        </td>                   
                        <td  *ngIf=" data.first_subsection_name == item_name || data.main_section_name == type_name">
                           <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.excuted}}</span>
                        </td>
                        <td  *ngIf=" data.first_subsection_name == item_name || data.main_section_name == type_name">
                           <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.total_excuted}}</span>
                        </td>
                      
               
                     </tr>
                  

               </tbody>

               <tbody *ngIf='filterbyExceed == true'>
             
                  <tr *ngFor="let data of Qty_tbl | paginate: { id: 'listing_pagination',
                  itemsPerPage: 10,
                  currentPage: page,
                  totalItems: totalRec }">
                                
                     <td  *ngIf=" data.excuted > data.item_qty">
                        <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.first_subsection_name}}</span>
                     </td>

                     <td  *ngIf=" data.excuted > data.item_qty">
                        <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.main_section_name}}</span>
                     </td>               
                     <td  *ngIf="data.excuted > data.item_qty">
                        <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.item_number}}</span>
                     </td>
                     <td  *ngIf="data.excuted > data.item_qty">
                        <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.item_name}}</span>
                     </td>    
                     <td  *ngIf="data.excuted > data.item_qty">               
                          <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.item_type | translate}}</span>
                     </td> 
                     <td  *ngIf="data.excuted > data.item_qty">
                        <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.product_uom_name}}</span>
                     </td>
                     <td  *ngIf="data.excuted > data.item_qty">
                        <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.item_qty}}</span>
                     </td>
                     <td  *ngIf="data.excuted > data.item_qty">
                        <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.price_unit}}</span>
                     </td>
                     <td  *ngIf="data.excuted > data.item_qty">
                        <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.price_total}}</span>
                     </td>                   
                     <td  *ngIf=" data.excuted > data.item_qty">
                        <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.excuted}}</span>
                     </td>
                     <td  *ngIf=" data.excuted > data.item_qty">
                        <span [ngStyle]="{ 'color': (data.excuted > data.item_qty ? 'red' : 'black') }">{{data.total_excuted}}</span>
                     </td>
                   
            
                  </tr>
               

               </tbody> -->
            </table>
            <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true"
            previousLabel="{{'Previous'|translate}}"
             nextLabel="{{'Next'|translate}}"
            (pageChange)="page = $event"></pagination-controls>
         </div>
        <div  fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
             <mat-label style="font-weight: bold;"
           
             >{{'Total Contracted'|translate}} : {{total_budget}}</mat-label>
          </div>
          <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
            <mat-label style="font-weight: bold;" [ngStyle]="{ 'display': (disappearDisount ? 'none' :  'block' ) }">{{'Total Budget with vat'|translate}} : {{total_budget_vat}}</mat-label>
         </div>
         <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30" 
         [ngStyle]="{ 'display': (disappearDisount ? 'none' :  'block' ) }"
         >
            <mat-label style="font-weight: bold;">{{'Total After Discount'|translate}} : {{totaldis}}</mat-label>
         </div>
         <div fxFlex.gt-sm="30" fxFlex.gt-xs="30" fxFlex="100" fxFlex.gt-md="30">
            <mat-label style="font-weight: bold;"  [ngStyle]="{ 'display': (disappearDisount ? 'block' :  'none' ) }">{{'Total Executed Quantity'|translate}} : {{total_excuted}}</mat-label>
         </div>
        </div>
      </div>
   </mat-card>
</div>