<div class="container" fxLayout="wrap row" fxLayout.xs="column" fxLayoutGap="1%" fxLayoutAlign="center">
    <mat-card>
            <div class="gene-card-title">
                    <div fxLayout="row" fxLayoutAlign="space-around center">
                       <div fxLayout="column">
                          <h4>{{'Request Status'|translate}}</h4>
           
                       </div> <span fxFlex></span>
                       
                       <div fxLayout="column">
                          <div class="row">
                          <button class="mrgn-b-xs" mat-raised-button color="primary" (click)="backtorfi()">{{'Back'|translate}}</button>
                          <button *ngIf ="state == 'draft' " class="mrgn-b-xs" mat-raised-button color="accent"
                           (click)="ApproveDraft()">{{'Draft Approve'|translate}}</button>
                        </div>
                       </div> 
                    </div>
                   
                    <mat-divider></mat-divider>
         </div>
         <div class="gene-card-content pad-t-none">
                <div class="table-responsive" id="dvPdf">
                  
                   <table class=" table-responsive table" fxLayout="row">
                      <thead  fxLayout="column"  fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50" fxFlex.gt-md="50" class="mrgn-b-xs" fxLayout="column">
                         <tr  fxLayout="column"   fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50" fxFlex.gt-md="50" class="mrgn-b-xs" fxLayout="column" >
                            <td>{{'Request Number'|translate}}</td>
                            <td>{{'Request Type'|translate}}</td>
                            <td>{{'Location of Works'|translate}}</td>
                            <td>{{'By Contractor'|translate}}</td>
                            <td>{{'Request Status'|translate}}</td>
                            <td>{{'Item Number'|translate}}</td>
                            <td style="padding-bottom: 20%;;">{{'Item Name'|translate}}</td>
                            <td >{{'Prepare Item'|translate}}</td>
                         </tr>
                      </thead>
                      <tbody  fxLayout="column"  fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50" fxFlex.gt-md="50">
                         <tr  *ngFor="let item of RFI_tbl"   fxLayout="column"  fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50" fxFlex.gt-md="50">
                          
                           <td>{{item.request_num}}</td>
                           <td>{{item.request_name}}</td>
                           <td>{{item.work_location}}</td>
                           <td>{{user}}</td>
                           <td>{{state | translate}}</td>
                           <td>{{item.item_number}}</td>
                           <td>{{item.item_name}}</td>
                           <td>{{item.pitem}}</td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
        <div class="gene-card-title">
            <div fxLayout="row" fxLayoutAlign="space-around center">
               <div fxLayout="column">
                  <h4>{{'Added Items'|translate}}</h4>
   
               </div> <span fxFlex></span>
               
             
            </div>
           
            <mat-divider></mat-divider>
         </div>
         <div class="gene-card-content pad-t-none">
            <div class="table-responsive" id="dvPdf">
              
               <table class="table table-hover table-middle th-fw-light mb-0">
                  <thead>
                     <tr>
                         <th>{{'Inspect Location'|translate}}</th>
                        <th>{{'Executed Quantity'|translate}}</th>
                        <th>{{'Controls'|translate}}</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let item of Items" style="text-align: center;">
                         <td>{{item.name}}</td>
                         <td>{{item.qty}}</td>
                         <td>
                            <mat-icon matTooltip="{{'Edit Contract Quantity'|translate}}" (click)="openDialog(item.id)">edit</mat-icon>
                       </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
    </mat-card>

    <mat-card>
        <div class="gene-card-title">
            <div fxLayout="column" fxLayoutAlign="space-around center">
               <div fxLayout="row">
                  <h4>{{'Inspection Details'|translate}}</h4>
   
               </div> <span fxFlex></span>
               
               <div fxLayout="row">
                 
                  <button class="mrgn-b-xs" [disabled]="consultant_approve != 'waiting'" mat-raised-button color="accent" (click)="openDialogApprove()">{{consultant_btn|translate}}</button>
                  <button class="mrgn-b-xs" mat-raised-button color="warn">{{'Result Approve'|translate}}</button>
                  <button class="mrgn-b-xs" mat-raised-button color="primary">{{'Print'|translate}}</button>
            
               </div> 
            </div>
           
            <mat-divider></mat-divider>
         </div>
         <div class="gene-card-content pad-t-none">
            <div class="table-responsive" id="dvPdf">
              <mat-card style="background-color: lightsteelblue;">
                <h5>{{'Request Status' |translate}} : {{state | translate}}</h5>
                <h5>{{'Progress Date' |translate}} :</h5>
                <h5>{{'Progress Owner' |translate}} :</h5>
              </mat-card>

              <mat-card>
                <form>
                  <div fxLayout="column">
                  <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <!--Department-->
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100" >
                        <mat-form-field class="full-wid mrgn-b-lg">
                              <mat-label>{{'Department'|translate}}</mat-label>
                              <mat-select name="department">      
                                   <div *ngFor="let item of type"> 
                                    <mat-option (click)="Typeid(item.id)" value={{item.id}}>
                                       {{item.type}}
                                    </mat-option>
                                   </div>
                            </mat-select>
                        </mat-form-field>
                     </div>
                       <!--Note-->
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100" >
                            <mat-form-field class="full-wid mrgn-b-lg">
                                  <mat-label>{{'Details'|translate}}</mat-label>
                                  <textarea matInput name="details"  
                                  cdkTextareaAutosize [(ngModel)]="details"
                                   #autosize="cdkTextareaAutosize"
                                    cdkAutosizeMinRows="1"
                                     cdkAutosizeMaxRows="5"></textarea> 
                            </mat-form-field>
                         </div>
                  </div>
                         <div fxLayout="row" fxLayoutAlign="center">
                                <button mat-button mat-raised-button color="accent" type="button" dir="ltr"
                                (click)="Save()"
                                >{{'Save'|translate }}</button>
                         </div>
                  </div>
                </form>
              </mat-card>
           <div style="overflow-y:scroll; height:200px;">
             <div *ngFor="let comment of Comments"  >
              <mat-card style="text-align: center;"> 
                  <h5>{{comment.section_name}}</h5>
                  <h5>{{comment.comments}}</h5>
                  <h6>بواسطة</h6>
                  <h6>{{comment.name}}</h6>
             </mat-card>
             </div>
              </div>
            </div>
         </div>
    </mat-card>
</div>