<div class="container" fxLayout="wrap row" fxLayout.xs="column" fxLayoutGap="1%" fxLayoutAlign="center">
    <mat-card>
            <div class="gene-card-title">
                    <div fxLayout="row" fxLayoutAlign="space-around center"   fxLayout.xs="column">
                       <div fxLayout="column">
                          <h4>{{'Request Status'|translate}}</h4>
           
                       </div> <span fxFlex></span>
                       
                       <div fxLayout="column">
                          <div class="row">
                          <button class="mrgn-b-xs" mat-raised-button color="primary" (click)="backtorfi()">
                          <mat-icon>exit_to_app</mat-icon>                             
                           {{'Back'|translate}}</button>
                          <button *ngIf ="state == 'draft' " class="mrgn-b-xs" mat-raised-button color="accent"
                           (click)="ApproveDraft()"  [ngStyle]="{ 'display': (boolconsultant ? 'none' :  'inline' ) }">{{'Draft Approve'|translate}}</button>
                        </div>
                       </div> 
                    </div>
                   
                    <mat-divider></mat-divider>
         </div>
         <div class="gene-card-content pad-t-none">
                <div class="table-responsive" id="dvPdf">
                  
                   <table class=" table-middle table" fxLayout="row">
                      <thead  fxLayout="column"  fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50" fxFlex.gt-md="50" class="mrgn-b-xs" fxLayout="column">
                         <tr  fxLayout="column"  fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50" fxFlex.gt-md="50" class="mrgn-b-xs" fxLayout="column" >
                            <td>{{'Request Number'|translate}}</td>
                            <td>{{'The date of application'|translate}}</td>
                            <td>{{'Request Status'|translate}}</td>
                            <td>{{'Consultant Approve'|translate}}</td>
                         </tr>
                      </thead>
                      <tbody  fxLayout="column"  fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50" fxFlex.gt-md="50">
                         <tr  *ngFor="let item of getMIR"   fxLayout="column"  fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="50" fxFlex.gt-md="50">
                          
                           <td>{{item.name}}</td>
                           <td>{{item.request_date}}</td>
                            <td>{{item.state | translate}}</td>
                           <td>{{consultant_approve| translate}}</td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </div>
        <div class="gene-card-title">
            <div fxLayout="row" fxLayoutAlign="space-around center">
               <div fxLayout="column">
                  <h4>{{'Material supplied'|translate}}</h4>
   
               </div> <span fxFlex></span>
               
             
            </div>
           
            <mat-divider></mat-divider>
         </div>
         <div class="gene-card-content pad-t-none">
            <div class="table-responsive" id="dvPdf">
              
               <table class="table table-hover table-middle th-fw-light mb-0">
                  <thead>
                     <tr>
                        <th>{{'Factory Name'|translate}}</th>
                        <th>{{'Material supplied'|translate}}</th>
                        <th>{{'Executed Quantity'|translate}}</th>
                        <th>{{'Contracted Qunatity'|translate}}</th>
                        <th>{{'Controls'|translate}}</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let item of itemMir" style="text-align: center;">
                         <td>{{item.factory_name}}</td>
                         <td>{{item.material_name}}</td>
                         <td>{{item.qty}}</td>
                         <td>{{contracted_qty[item.id]}}</td>
                         <td>
                            <mat-icon matTooltip="{{'Edit Contract Quantity'|translate}}" (click)="openDialog(item.id)">edit</mat-icon>
                       </td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <tr *ngFor="let a of activity_log">
            <td>{{a.action}}</td>
            <td>On {{a.date}}</td>
         </tr>
    </mat-card>

    <mat-card>
        <div class="gene-card-title">
            <div fxLayout="column" fxLayoutAlign="space-around center">
               <div fxLayout="row">
                  <h4>{{'Inspection Details'|translate}}</h4>
   
               </div> <span fxFlex></span>
               
               <div fxLayout="row"  fxLayout.xs="column"  >
                 
                  <button class="mrgn-b-xs" 
                  [ngStyle]="{ 'display': (boolcontractor ? 'none' :  'block' ) }"
                  [disabled]="consultant_approve != 'waiting'" mat-raised-button color="accent" (click)="openDialogApprove()">{{consultant_btn|translate}}</button>
                  <button class="mrgn-b-xs"   [ngStyle]="{ 'display': (boolcontractor ? 'none' :  'block' ) }"                  
                  mat-raised-button color="warn">{{'Result Approve'|translate}}</button>
                  <button class="mrgn-b-xs" mat-raised-button color="primary">{{'Print'|translate}}
                     <mat-icon>print</mat-icon>
                  </button>
            
               </div> 
            </div>
           
            <mat-divider></mat-divider>
         </div>
         <div class="gene-card-content pad-t-none">
            <div class="table-responsive" id="dvPdf">
              <mat-card style="background-color: lightsteelblue;">
                <h5>{{'Request Status' |translate}} : {{state | translate}}</h5>
                <h5>{{'Progress Date' |translate}} :</h5>
                <h5>{{'Progress Owner' |translate}} :</h5>
              </mat-card>

              <mat-card>
               <form>
                  <div fxLayout="column" style="height:100%;">
                  <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <!--Department-->
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100" >
                        <mat-form-field class="full-wid mrgn-b-lg">
                              <mat-label>{{'Department'|translate}}</mat-label>
                              <mat-select name="department">      
                                   <div> 
                                    <mat-option >
                                     
                                    </mat-option>
                                   </div>
                            </mat-select>
                        </mat-form-field>
                     </div>
                       <!--Department-->
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100" >
                      <mat-form-field class="full-wid mrgn-b-lg">
                            <mat-label>{{'Name'|translate}}</mat-label>
                            <mat-select name="department">      
                                 <div> 
                                  <mat-option >
                                    
                                  </mat-option>
                                 </div>
                          </mat-select>
                      </mat-form-field>
                   </div>
                       <!--Note-->
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100" >
                            <mat-form-field class="full-wid mrgn-b-lg">
                                  <mat-label>{{'Note'|translate}}</mat-label>
                                  <textarea matInput name="detail"  
                                  cdkTextareaAutosize [(ngModel)]="detail"
                                   #autosize="cdkTextareaAutosize"
                                    cdkAutosizeMinRows="1"
                                     cdkAutosizeMaxRows="5"></textarea> 
                            </mat-form-field>
                         </div>
                  </div>
                         <div fxLayout="row" fxLayoutAlign="center">
                                <button mat-button mat-raised-button color="accent" type="button" dir="ltr"
                                 [disabled]="boolcontractor == true">
                                  <mat-icon>save</mat-icon>
                                {{'Send'|translate }}</button>
                         </div>
                  </div>
                </form>

                <div style="overflow-y:scroll; height:45%;">
                  <!-- <div *ngFor="let comment of Comments ; let  i = index"  >
                   <mat-card style="text-align: center;border-style: solid;" [ngStyle]="{ 'border-color': ( i%2 == 0 ?  '#1565c0' :  '#00acac' ) }"> 
                       <h5>{{comment.user_name}}</h5>
                       <h5>{{comment.comments}}</h5>
                      
                       <h6>{{comment.name}}</h6>
                  </mat-card>
                  </div> -->
                   </div>
              </mat-card>
      
</div>