<mat-card >
   <div class="gene-card-title">
      <div fxLayout="row" fxLayoutAlign="start center">
         <div fxLayout="column" fxLayoutAlign="start center">
            <h3>{{'Completion Rate'|translate}}</h3>
         </div>
         <span fxFlex></span>
      </div>
      <mat-divider></mat-divider>
   </div>
<div fxLayout="row wrap" fxLayoutAlign="center stretch">
   <!--Request For Inspection-->
   <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
       <mat-card class="card-full-width row">
         <h3>{{'Request for Inspection'|translate}}</h3>
           
         <canvas baseChart
         height="150" 
         [data]="pieChartData2"
           [options]="PieChartOptions1" 
           [colors]="pieChartColors2"
           [labels]="pieChartLabels2"
           [plugins]="pieChartPlugins"
           [legend]="pieChartLegend" 
           [chartType]="pieChartType1"></canvas> 
      
      
        </mat-card>
   </div>

    <!--Request For Inspection-->
   <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
      <mat-card class="card-full-width row">
        <h3>{{'Request of Count'|translate}}</h3>
          
        <canvas baseChart
             height="150" 
             [data]="pieChartData1"
               [options]="PieChartOptions1" 
               [colors]="pieChartColors1"
               [labels]="pieChartLabels1"
               [plugins]="pieChartPlugins"
               [legend]="pieChartLegend" 
               [chartType]="pieChartType1"></canvas>
            
      </mat-card>
  </div>
 
  

</div>
</mat-card>

 