<!-- <div style=" width: 100%;" #reportContainer></div>  -->

<!--Project Report-->
<mat-card dir="rtl">
    <div class="gene-card-title">
       <div fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="column" fxLayoutAlign="start center">
             <h3>{{'Project Report'|translate}}</h3>
          </div>
          <span fxFlex></span>
       </div>
       <mat-divider></mat-divider>
    </div>
    <div class="gene-card-content">
      <iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=990dcccf-400f-40b1-9d05-0bd1c4a29be4&appId=da07bc2e-b3c3-4952-8682-bf74dea0fcdf&autoAuth=true&ctid=ed730573-1580-401b-a1bc-d45417ee80f3&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtZXVyb3BlLWQtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</mat-card>
