<div fxLayout="row wrap" fxLayoutAlign=" start" class="gene-form-wizard">
    <mat-card fxFlex="100%">
       <div class="gene-card-title">
          <div fxLayout="row" fxLayoutAlign="start center">
             <div fxLayout="column">
                <h4>{{'New Project'|translate}}</h4>
             </div>
             <span fxFlex></span> 
          </div>
          <mat-divider></mat-divider>
       </div>
       <div class="gene-card-content">
          <mat-tab-group [selectedIndex]="selectedIndex">
             <mat-tab label="{{'Step 1'|translate}}" [disabled]="selectedIndex != 0" >
                <form #form="ngForm" >
                   <div fxLayout="column">
                      <!--Proejct Name-->
                      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                         <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                            <mat-form-field class="full-wid mrgn-b-lg">
                                 <input matInput name="name" [(ngModel)]="name"
                                  placeholder="{{'Proejct Name'|translate}}" type="text" required>
                            </mat-form-field>
                         </div>
                          <!--Contract Number-->
                         <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                              <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                            <mat-form-field class="full-wid mrgn-b-lg"> 
                               <input matInput name="contact_number"  [(ngModel)]="contact_number"
                                placeholder="{{'Contract Number'|translate}}" required type="number">
                            </mat-form-field>
                            </div>
                             <!--Date of Contract-->
                            <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                                 <mat-form-field class="full-wid mrgn-b-lg"> 
                                       <input matInput name="sig_date"
                                       [(ngModel)]="sig_date"  
                                      [min]="minDate" [max]="maxDate" [matDatepicker]="sigdate"
                                       placeholder="{{'Date of Contract'|translate}}">
                                      <mat-datepicker-toggle matSuffix [for]="sigdate"></mat-datepicker-toggle>
                                      <mat-datepicker #sigdate></mat-datepicker>   
                                 </mat-form-field>
                            </div>
                         </div>
                      </div>
                      <!--Consultant Name-->
                      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                         <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                            <mat-form-field class="full-wid mrgn-b-lg ">
                              <mat-label>{{'Consultant Name'|translate}}</mat-label>
                               <mat-select matNativeControl required name="consultant_name"
                              [(ngModel)]="consultant_name">
                                 <div *ngFor="let user of users">
                                 <div *ngIf = "user.user_job == 'consultant'">                               
                                <mat-option value="{{user.id}}" >{{user.name}}</mat-option>
                              </div> 
                              </div>
                              </mat-select>
                            </mat-form-field>
                         </div>
                             <!--Contructor Name-->
                        <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                            <mat-form-field class="full-wid mrgn-b-lg ">
                                    <mat-label>{{'Contructor Name'|translate}}</mat-label>
                                    <mat-select matNativeControl required name="contractor_name"
                                    [(ngModel)]="contractor_name">
                                 
                                     <div *ngFor="let user of users">
                                        <div *ngIf = "user.user_job == 'contractor'"> 
                                       <mat-option value="{{user.id}}" >{{user.name}}</mat-option>
                                    </div> 
                                    </div>
                                    </mat-select>
                            </mat-form-field>
                         </div>
                      </div>
                         <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                              <mat-label fxLayoutAlign="start center" >* {{'Date of Project Start'|translate}}</mat-label>
                          </div>
                          <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                             <!--Session From Grogorian-->
                       <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                           <mat-form-field class="full-wid mrgn-b-lg ">
                              <input matInput  placeholder= "{{'Session From Grogorian'|translate}}"
                              name="startdate" [(ngModel)]="startdate" 

                              [min]="minDate" [max]="maxDate" [matDatepicker]="picker"
                               >
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>                         
                           </mat-form-field>
                        </div>
                    
                          <!--Session From Hijri-->
                          <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                         
                           <mat-form-field class="full-wid mrgn-b-lg ">
                         
                           <input matInput placeholder="{{'Session From Hijri'|translate}}" 
                           class="rtl" [firstDayOfWeek]="7"
                           placement="top" [positionTarget]="buttonEl" [footerTemplate]="footerTemplate"
                           name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                           <mat-datepicker-toggle #buttonEl matSuffix [for]="d"  (click)="d.toggle()"></mat-datepicker-toggle>
                             
                           
                           <ng-template #footerTemplate>
                              <hr class="my-0">
                              <div fxLayout="row" fxLayoutAlign="space-between">
                              <button mat-button color="primary" (click)="model = today; d.close()">{{'Today'|translate}}</button>
                              <button mat-button color="warn" (click)="d.close()">{{'Cancel'|translate}}</button>
                           </div>
                            </ng-template>
                          
                        </mat-form-field>
                         
                    </div>
                   </div>
                      <div fxLayout="row" fxLayoutAlign="start">
                         <button mat-button type="button" disabled>{{'Previous'|translate }}</button>
                         <button mat-button mat-raised-button [disabled]="!form.valid" (click)="nextStep()" type="submit" >{{'Next'|translate }} </button>
                      </div>
                   </div>

                </form>
             </mat-tab>
            
             <mat-tab label="{{'Step 2'|translate}}" [disabled]="selectedIndex != 1" >
                <form #form2="ngForm" >
                   <div fxLayout="column">
                      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                         
                         <!--Project Amount-->
                         <div fxFlex.gt-sm="40" fxFlex.gt-xs="40" fxFlex="100" fxFlex.gt-md="40">
                           <mat-form-field class="full-wid mrgn-b-lg">
                              <br>
                               <input matInput 
                               name="project_amount"  [(ngModel)]="project_amount" (blur)="transformAmount($event)"
                               placeholder="{{'Project Amount'|translate}}" required [(value)]="formattedAmount"
                               (change)="raito()">
                           </mat-form-field>
                       
                        </div>

                        <!--Choose type of VAT-->
                         <div fxFlex.gt-sm="40" fxFlex.gt-xs="40" fxFlex="100" fxFlex.gt-md="40">
                           <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                            <mat-label >* {{'Choose'|translate}}</mat-label>
                              <mat-radio-group aria-label="Select an option">
                                 <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                                 <mat-radio-button (click)="ChooseVat(true)"  value="1" checked="checked" >{{'With Vat'|translate}}</mat-radio-button>
                                 </div>
                                 <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                                 <mat-radio-button  (click)="ChooseVat(false)"  value="2" >{{'Without Vat'|translate}}</mat-radio-button>
                                 </div>
                           </mat-radio-group>
                     
                           </div>
                         </div>
                         
                      </div>

                      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                        <mat-checkbox (change)="conationfpay($event)">{{'Contract contain first pay'|translate}}</mat-checkbox>
                      </div>
          
                         <!--Preface Payment Ratio-->
                      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                        <div fxFlex.gt-sm="60" fxFlex.gt-xs="60" fxFlex="100" fxFlex.gt-md="60">
                      
                           <mat-form-field class="half-wid mrgn-b-lg ">
                              <input matInput  placeholder="{{'Preface Payment Ratio'|translate}}"
                              name="first_pay"  [(ngModel)]="first_pay" 
                              [disabled]="containfirst == false"
                              type="number" (change)="raito()"> 
                             </mat-form-field>
                             % 
                              &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp; &nbsp;   &nbsp;
                             <mat-form-field class="half-wid mrgn-b-lg ">
                              <input matInput placeholder="{{'First Payment'|translate}}"
                              name="perface_ratio"  [(ngModel)] = "perface_ratio"
                              type="text" required disabled>
                             </mat-form-field>
                            ر.س
                                                      
                        </div>  
                     </div>

                     <!--Project Duration-->
                     <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                                <mat-label fxLayoutAlign="start center" >* {{'Project Duration'|translate}}</mat-label>
                                 <br>
                           <mat-radio-group aria-label="Select an option">
                                <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                                <mat-radio-button  (change)="durationType(1)"  value="1" > {{'Duration with Days'|translate}} </mat-radio-button>
                                </div>
                                <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                                 <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                                    <mat-radio-button  (change)="durationType(2)" value="2" > {{'Duration with Higiri Months'|translate}} </mat-radio-button>
                               
                                 </div>
                                 <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                                    <mat-radio-button  (change)="durationType(3)" value="3" >{{'Duration with Gorgiean Months'|translate}} </mat-radio-button>
                               
                                 </div>
                                  </div>
                          </mat-radio-group>
                      </div>
                     <br>
                        <!--Project Duration-->
                   <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                         
                         <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                            <mat-form-field class="full-wid mrgn-b-lg ">
                              <input matInput name="project_duration_days" [(ngModel)]="project_duration_days"
                              (change)="caldurationd(project_duration_days)"
                              placeholder="{{'Project Duration With Days'|translate}}" type="number"
                              [disabled]="duration != 1" required>
                            </mat-form-field>
                         </div>
                         
                         <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                           <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                              <mat-form-field class="full-wid mrgn-b-lg ">
                                 <input matInput name="project_duration_h_months" [(ngModel)]="project_duration_h_months"
                                 (change)="caldurationm(project_duration_h_months)"
                                 placeholder="{{'Duration with Higiri Months'|translate}}" type="number" required
                                 [disabled]="duration != 2" required>
                               </mat-form-field>
                           </div>
                           <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                              <mat-form-field class="full-wid mrgn-b-lg ">
                                 <input matInput name="project_duration_months" [(ngModel)]="project_duration_months"
                                 (change)="caldurationm(project_duration_months)"
                                 placeholder="{{'Duration with Gorgiean Months'|translate}}" type="number" required
                                 [disabled]="duration != 3" required>
                               </mat-form-field>
                           </div>
                             
                           </div>
                      </div>
                <!--Session To-->
                      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                           <mat-label fxLayoutAlign="start center" >* {{'Session To'|translate}}</mat-label>
                        

                     
                      </div>
                    
                      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                      
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                        <mat-form-field class="mrgn-b-lg " fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                           <input matInput 
                           name="deliverdate" [(ngModel)]="deliverdate" 
                           [min]="minDate" [max]="maxDate" [matDatepicker]="picker2"
                            placeholder="{{'Session To Grogorian'|translate}}">
                           <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                           <mat-datepicker #picker2></mat-datepicker>                         
                                           
                        </mat-form-field>
                 </div>
               </div>
                      <div fxLayout="row" fxLayoutAlign="start">
                         <button mat-button type="button" (click)="previousStep()">{{'Previous'|translate }}</button>
                         <button mat-button mat-raised-button [disabled]="!form2.valid" (click)="nextStep()" type="button">{{'Next'|translate }}</button>
                      </div>
                   </div>
                </form>
             </mat-tab>
             <mat-tab label="{{'Step 3'|translate}}" [disabled]="selectedIndex != 2" >
                <form #form3="ngForm">

                  <br/>  <br/> 

                  <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                   <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                 
                         <mat-checkbox 
                         (change)="IsChecked(true)">{{'Multiple Quantity Tables'|translate}}</mat-checkbox>
                         
                   </div>
                  </div>
                    <br/>  <br/>  
                  <div fxLayout="row wrap" fxLayoutAlign="space-between center">

                        <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                              <mat-form-field class="full-wid mrgn-b-lg ">
                                <input matInput  name="budget_year"  [(ngModel)]="budget_year"
                                placeholder="{{'Budget Year'|translate}}" type="number" required>
                              </mat-form-field>
                        </div>
                
                     <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                         <mat-form-field class="full-wid mrgn-b-lg ">
                           <input matInput  name="proj_number"  [(ngModel)]="proj_number"
                           placeholder="{{'Project Number Based on Budget'|translate}}" type="text" required>
                         </mat-form-field>
                      </div>
                     
                   </div>

                   <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                   <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                   <mat-form-field class="full-wid mrgn-b-lg ">
                     <mat-label>{{'Project Description'|translate}}</mat-label>
                     <input matInput name="description"  [(ngModel)]="description"
                               required />
                   </mat-form-field>
                     </div>
                   </div>
                
                     
                      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                     <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                      <mat-label  class="mrgn-b-md">{{'Upload queue'|translate}}</mat-label>
                      <input type="file" id="file"  class="mrgn-b-md" type="file" ng2FileSelect [uploader]="uploader" multiple required/>
                
                      <div fxFlex.gt-md="100" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                         <div class="mrgn-b-md">
                            <h6 fxLayout="row">
                               <span fxFlex>{{'Upload queue' | translate}}</span>
                               <span>Queue length: {{ uploader?.queue?.length }}</span>
                            </h6>
                            <div class="set-overflow-x-auto">
                               <table class="table mb-3 material ml-0 mr-0 mrgn-b-md">
                                  <thead>
                                     <tr>
                                        <th width="30%">{{'Name'|translate}}</th>
                                        <th>{{'Size' | translate}}</th>
                                         <th>{{'Status' | translate}}</th>
                                        <th>{{'Controls' | translate}}</th>
                                     </tr>
                                  </thead>
                                  <tbody>
                                     <ng-container *ngIf="uploader.queue.length > 0; else elseBlock">
                                        <tr *ngFor="let item of uploader.queue">
                                           <td>{{ item?.file?.name }}</td>
                                           <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2'
                                              }} MB</td>
                                          <td class="text-center">
                                              <span *ngIf="item.isSuccess">
                                                 <mat-icon>check</mat-icon>
                                              </span>
                                              <span *ngIf="item.isCancel">
                                                 <mat-icon>cancel</mat-icon>
                                              </span>
                                              <span *ngIf="item.isError">
                                                 <mat-icon>error</mat-icon>
                                              </span>
                                           </td>
                                           <td nowrap>
                                              <button mat-raised-button mat-button-sm type="button" color="accent" class="btn btn-success btn-xs btn-b-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                                 <span class="glyphicon glyphicon-upload"></span> {{'Upload'|translate}}
                                              </button>
                                              <button mat-raised-button mat-button-sm type="button"  color="warn" class="btn btn-danger btn-xs btn-b-xs" (click)="item.remove()">
                                                 <span class="glyphicon glyphicon-trash"></span> {{'Remove' |translate}}
                                              </button>
                                           </td>
                                        </tr>
                                     </ng-container>
                                     <ng-template #elseBlock>
                                       {{' No data to display' | translate}}
                                     </ng-template>
                                  </tbody>
                               </table>
                            </div>
                             <button mat-raised-button mat-button-sm  color="accent" type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                              {{'Upload All'|translate}}
                            </button>
                           <button mat-raised-button mat-button-sm  color="warn" type="button" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                               {{'Remove All' | translate}}
                            </button>
                         </div>
                      </div>
               
                     
                   </div>
                  </div>

                   <div fxLayout="row" fxLayoutAlign="center">
                      <button mat-button type="button" (click)="previousStep()">{{'Previous'|translate }}</button>
                      <button mat-button mat-raised-button 
                      (click)="SaveData()"
                      [disabled]="!form3.valid" color="accent"  type="submit">{{'New Project'|translate }}</button>
                   </div>
                </form>
             </mat-tab>
             <mat-tab label="{{'Step 4'|translate}}" [disabled]="selectedIndex!=3" >
            
                <div fxLayout="column">
                   <div class="custom-pad text-center">
                      <h1>Thank You                         
                      </h1>
                      <mat-icon style="width:100%;">{{'Create Project' | translate}}</mat-icon>
                   </div>
                </div>
             </mat-tab>
          </mat-tab-group>
       </div>
    </mat-card>
 </div>
 <!--The Map Part-->
 <div fxLayout="row wrap" fxLayoutAlign="start">
      <div fxFlex.gt-md="300" fxFlex.gt-sm="300" fxFlex="300" style="height: 500px;">
         <mat-card id="mapcard">
            <div class="gene-card-title">
               <div fxLayout="row" fxLayoutAlign="start center">
                  <div fxLayout="column" fxFlex="500">
                     <h3>{{'Choose Location'|translate}}</h3>
                  </div>
                  <span fxFlex></span>
                 
               </div>
               <mat-divider></mat-divider>
            </div>
            <div class="gene-card-content" class="map">
               <agm-map [latitude]="lat" [longitude]="lng" class="map" (mapClick)="placeMarker($event)">
                  <agm-marker (mouseOver)="window.open()" (mouseOut)="window.close()" [latitude]="lat"
                    [longitude]="lng">
                    <agm-info-window #window>
                      <h6>Longitude: {{lng}}</h6>
                      <h6>Latitude: {{lat}}</h6>
                    </agm-info-window>
                  </agm-marker>
               </agm-map>
               <!-- <agm-map [latitude]="latitude" [longitude]="longitude" style="height: 300px" (mapClick)="placeMarker($event)">
                  <agm-marker (mouseOver)="window.open()" (mouseOut)="window.close()" *ngFor="let marker of markers" [latitude]="marker.latitude"
                    [longitude]="marker.longitude">
                    <agm-info-window #window>
                      <h6>Longitude: {{marker.longitude}}</h6>
                      <h6>Latitude: {{marker.latitude}}</h6>
                    </agm-info-window>
                  </agm-marker>
                </agm-map> -->
            </div>
            <form #form3="ngForm">
                  <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                      <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                         <mat-form-field class="full-wid mrgn-b-lg ">
                              <input matInput placeholder="{{'Latitude'|translate}}" type="text" [(ngModel)]="lat" required [ngModelOptions]="{standalone: true}">
                         </mat-form-field>
                      </div>
                      <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49">
                           <mat-form-field class="full-wid mrgn-b-lg ">
                                 <input matInput placeholder="{{'Longitude'|translate}}" type="text" [(ngModel)]="lng" required [ngModelOptions]="{standalone: true}">
                                 
                           </mat-form-field>
                      </div>
                  </div>
                 
            </form>
         </mat-card>
      </div>
   </div>
   <mat-menu #options="matMenu" x-position="before">
      <button mat-menu-item>
         <mat-icon>settings</mat-icon>
         Settings 
      </button>
      <button mat-menu-item>
         <mat-icon>more</mat-icon>
         View More 
      </button>
      <button mat-menu-item>
         <mat-icon>notifications_off</mat-icon>
         Disable notifications 
      </button>
      <button mat-menu-item>
         <mat-icon>exit_to_app</mat-icon>
         Remove Panel 
      </button>
   </mat-menu>


   <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARLJcKPev4Ot6baTkjNKjczRDHYlFhgzo&callback=initMap"
   type="text/javascript"></script>