<mat-card dir="rtl">
        <div class="gene-card-title">
           <div fxLayout="row" fxLayoutAlign="start center">
              <div fxLayout="column" fxLayoutAlign="start center">
                 <h3 >{{projectname}} / {{'Add Request'|translate}} </h3>
              </div>
              <span fxFlex></span>
           </div>
           <mat-divider></mat-divider>
        </div>
        <div class="gene-card-content">
              <form #form="ngForm">
                    <div fxLayout="column">
                       <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                          <!--Location of Work-->
                      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                        <mat-form-field class="full-wid mrgn-b-lg">
                              <mat-label>{{'Project Items'|translate}}</mat-label>
                              <mat-select name="work_id" [(ngModel)]="work_id">
                              <div *ngFor="let build of buildings" >
                                 <mat-option (click)="request_main(build.id , build.name)" value={{build.id}}>{{build.name}}</mat-option>
                              </div>  
                              </mat-select>
                        </mat-form-field>
                     </div>
                  <!--Request Type-->
                          <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                             <mat-form-field class="full-wid mrgn-b-lg">
                                   <mat-label>{{'Specify Works'|translate}}</mat-label>
                                   <mat-select name="typename" [(ngModel)]="typename">
                                      <div *ngFor="let type of types">
                                         <mat-option  (click)="request(type.sequence , type.type)" value={{type.id}} >
                                            {{type.type}}
                                         </mat-option>
                                      </div>
                                   </mat-select>
                             </mat-form-field>
                          </div>
                          <!--Request Number-->
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                                 <mat-form-field class="full-wid mrgn-b-lg ">
                                 <input matInput name="req_number" [(ngModel)]="req_number" 
                                 placeholder="{{'Request Number'|translate}}" type="text" disabled required>    
                              </mat-form-field> 
                              
                         </div>                   
                <!--Description-->
                <!-- <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                  <mat-form-field class="full-wid mrgn-b-lg">
                        <mat-label>{{'Description'|translate}}</mat-label>
                        <input matInput name="description" [(ngModel)]="description"
                                  placeholder="{{'Description'|translate}}" type="text" required>
                  </mat-form-field>
               </div> -->
                 
                     <!--Inspection Date-->
                     <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                        <mat-form-field class="full-wid mrgn-b-lg ">
                           <input matInput 
                           name="insepction_date"  [(ngModel)]="insepction_date"
                           [min]="minDate" [max]="maxDate" [matDatepicker]="insepctiondate"
                            placeholder="{{'Inspection Date'|translate}}">
                           <mat-datepicker-toggle matSuffix [for]="insepctiondate"></mat-datepicker-toggle>
                           <mat-datepicker #insepctiondate></mat-datepicker>                         
                        </mat-form-field>
                    </div>
                    
                    
                    <mat-card  class="full-wid mrgn-b-lg ">
                     <mat-label class="title">{{'Attachments'|translate}}</mat-label>
                     <div class="gene-card-content">
                       <!--Attachment-->
                    <div fxFlex.gt-sm="49" fxFlex.gt-xs="49" fxFlex="100" fxFlex.gt-md="49"
                    fxLayoutAlign="space-between start" style="margin-bottom: 2%;"
                    >
                   
                     <input type="file" mat-input multiple="true"
                     id="file" z
                     (change)="onSelectFiles($event)">
                    
                    </div>
                     </div>

                     <div fxLayout="row wrap" fxLayoutAlign="space-between center"  fxLayout.xs="column"> 
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                            
                           <table class="table table-hover table-middle th-fw-light mb-0 ">
                              <thead>
                                 <tr>
                                 <th>{{'File Name'|translate}}</th>
                                 <th>{{'File Size'|translate}}</th>
                                 <th>{{'Controls'|translate}}</th>
                              </tr>
                              </thead>
                              <tbody>
                                 <tr *ngFor="let file of files; index as i">
                                    <td>
                                       {{file.name}}
                                    </td>
                                    <td>
                                    {{file.size / 1024}}
                                    </td>
                                    <td>
                                       <button mat-icon-button color="primary" matTooltip="{{'Delete'|translate}}" (click)="removeAttachment(i)">
                                       <mat-icon>delete</mat-icon>
                                       </button>
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                 
                       </div>
                      </div>
                    </mat-card>

                 </div>

                 <!--Items--> 
                    <mat-card  class="full-wid mrgn-b-lg ">
                     <mat-label class="title">{{'Items'|translate}}</mat-label>
                     <div class="gene-card-content">
                      
                <!-- <div fxLayout="column">
               
                    
                     <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" fxFlex.gt-md="50" style="margin-left:5%;" fxLayoutAlign="center">
                     <h6 >{{'Search by'|translate}}    </h6>   
                     <br/>
                     <mat-radio-group aria-label="Select an option" name="f" >
                     <mat-radio-button  (change)="filterType(1)"  value="1">{{'Item Name'|translate}}</mat-radio-button>
                     <mat-radio-button  (change)="filterType(2)" value="2"  >{{'Item Number'|translate}}</mat-radio-button>
                  </mat-radio-group>
                   </div>
                   <br>
                  </div>

                   <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                  
                     <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" fxFlex.gt-md="50" fxLayoutAlign="center">
                        <mat-form-field class="full-wid mrgn-b-lg ">
                          <mat-label>{{'Search'|translate}}  <mat-icon aria-hidden="false">search</mat-icon>  </mat-label>
                           <input [disabled]="filter==0" (change)="Search()" matInput  name="search" [(ngModel)]="search" type="text">
                                
                           </mat-form-field>
                       </div>

                   </div> -->
                  <div fxLayout="row wrap" fxLayoutAlign="space-between center"  fxLayout.xs="column">

                     
                 <div fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="45" fxFlex.gt-md="45">
                  <mat-form-field class="full-wid mrgn-b-lg ">
                       
                     <mat-label>{{'Item Number'|translate}}</mat-label>
                     <!-- <mat-select name="item_number" [(ngModel)]="item_number">
                      <div *ngFor="let data of quantitys">
                       <div *ngIf="data.main_section_id == typename">  
                        <mat-option  value={{data.item_number}} (click)="BindItemname(data.item_name , data.id)">
                            {{data.item_number}}
                       </mat-option>
                     </div>
                     </div>
                     </mat-select>    -->
                     <input
                          type="text"
                          placeholder="{{'Pick one'|translate}}"
                          matInput
                          [formControl]="myControl"
                          [matAutocomplete]="auto"
                          [(ngModel)]="item_number"
                        />
                     
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let option of (filteredNumbers | async)" [value]="option.item_number" (click)="BindItemname(option.item_name , option.id)">
                            {{ option.item_number }}
                          </mat-option>
                        </mat-autocomplete>
                  </mat-form-field>
                  </div>

                  <!-- <div fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="45" fxFlex.gt-md="45">
                     <mat-form-field>
                        <input
                          type="text"
                          placeholder="Pick one"
                          matInput
                          [formControl]="myControl"
                          [matAutocomplete]="auto"
                        />
                     
                        <mat-autocomplete #auto="matAutocomplete">
                          <mat-option *ngFor="let option of (filteredOptions | async)" [value]="option">
                            {{ option }}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                  </div> -->

                  <div fxFlex.gt-sm="45" fxFlex.gt-xs="100" fxFlex="45" fxFlex.gt-md="45" style="margin-right: 2%;">
                     <mat-form-field class="full-wid mrgn-b-lg ">
                          
                        <mat-label>{{'Item Name'|translate}}</mat-label>
                        <!-- <mat-select name="item_name" [(ngModel)]="item_name">
                              <div *ngFor="let data of quantitys">
                                    <div *ngIf="data.main_section_id == typename">  
                                     <mat-option  value={{data.item_name}} (click)="BindItemnumber(data.item_number , data.id )">
                                         {{data.item_name}}                                      
                                  </mat-option>
                    </div>
                    </div>
                     </mat-select>    -->
                     <input
                          type="text"
                          placeholder="{{'Pick one'|translate}}"
                          matInput
                          [formControl]="myControl1"
                          [matAutocomplete]="auto1"
                          [(ngModel)]="item_name"
                        />
                     
                        <mat-autocomplete #auto1="matAutocomplete">
                          <mat-option *ngFor="let option of (filteredNames | async)" [value]="option.item_name" (click)="BindItemnumber(option.item_number , option.id )">
                            {{ option.item_name }}
                          </mat-option>
                        </mat-autocomplete>
                     </mat-form-field>
                  </div>
                     
                     <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                        <mat-checkbox (click)="change()">{{'Prepare Item'|translate}}</mat-checkbox>                   
                        
                    </div>
                    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxFlex.gt-md="100">
                     <mat-form-field class="full-wid mrgn-b-lg ">
                           <input matInput name="pitem" [(ngModel)]="pitem"
                           [disabled]="!statepitem"
                           placeholder="{{'Phase Description'|translate}}" type="text">       
                     </mat-form-field>
                  
                     </div>
                  </div>
                     </div>
                    </mat-card>
                  
                  
                 <!--Item Information-->
                    <mat-card  class="full-wid mrgn-b-lg ">
                        <mat-label class="title">{{'Inspect Location'|translate}}</mat-label>
                        <div class="gene-card-content">
             
                   <div fxLayout="column">
                     <div fxLayout="row wrap" fxLayoutAlign="space-between center"  fxLayout.xs="column">
                     <div fxFlex.gt-sm="32" fxFlex.gt-xs="100" fxFlex="32" fxFlex.gt-md="32" style=" margin-top:0.5%;">
                        <mat-form-field class="full-wid mrgn-b-lg ">
                             
                              <input matInput name="inspect_loc" [(ngModel)]="inspect_loc" (click)='setVisible()'
                              placeholder="{{'Inspect Location'|translate}}" type="text" >       
                        </mat-form-field>
                 </div>
                
                            <!--Executed Quantity-->
                            <div fxFlex.gt-sm="32" fxFlex.gt-xs="100" fxFlex="32" fxFlex.gt-md="32" style=" margin-top:0.5%;">
                              <mat-form-field class="full-wid mrgn-b-lg ">
                                   
                                    <input matInput name="qty" [(ngModel)]="qty" (change)="Visibles()"
                                    placeholder="{{'Executed Quantity'|translate}}" type="number" >       
                              </mat-form-field>
                       </div>
                       <!--Total-->
                       <!-- <div fxFlex.gt-sm="32" fxFlex.gt-xs="100" fxFlex="32" fxFlex.gt-md="32"
                       
                       style=" margin-top:0.5%;">
                        <mat-form-field class="full-wid mrgn-b-lg ">
                             
                              <input matInput name="total" [(ngModel)]="total"
                              placeholder="{{'Total'|translate}}" type="number" disabled>       
                         </mat-form-field>
                        </div> -->
                  </div>
                
                  <div>
                  <h6  [ngStyle]="{'visibility': Visible ? 'visible' : 'hidden' }">{{'You have exceed the avialable quantity'|translate}}</h6>
                  </div>  
                  </div>
                  </div>
                 
        
              <div fxLayout="row" fxLayoutAlign="center">
                  <button mat-button mat-raised-button color="accent" (click)="addItem()" fxLayoutAlign="center" type="button">{{'Add'|translate }}  <mat-icon>queue</mat-icon> </button>
             </div> 
         </mat-card>
         <!--Table of Added Items-->
         <mat-card  class="full-wid mrgn-b-lg ">
               <mat-label class="title">{{'Added Locations'|translate}}</mat-label>
               <div class="gene-card-content">
                  <div fxLayout="column">
                     <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                           <div class="table-responsive" id="dvPdf">
           
                                 <table class="table table-hover table-middle th-fw-light mb-0">
                                    <thead>
                                       <tr>
                                          <th>{{'Inspect Location'|translate}}</th>
                                          <th>{{'Quantity'|translate}}</th>
                                          <!-- <th>{{'Total'|translate}}</th> -->
                                          <th>{{'Controls'|translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <tr *ngFor="let item of itemDate; let i = index" >
                                          <td>{{item.inspect_location}}</td>
                                          <td>{{item.qty}}</td>
                                          <!-- <td>{{item.total}}</td> -->
                                         
                                          <td><mat-icon (click)="removeitem(i)" matTooltip="{{'Delete' | translate}}">delete</mat-icon></td>
                                        </tr>
                                    </tbody>
                                 </table>
                              </div>

               </div>
                  </div>
                     </div>     
         </mat-card>
   
      </div>
                    
                       <div fxLayout="row" fxLayoutAlign="space-between">
                             <button mat-button mat-raised-button color="warn" (click)="dialogRef.close()"  type="button" dir="ltr">{{'Cancel'|translate }}  <mat-icon>cancel</mat-icon></button>
                             <button mat-button mat-raised-button color="accent" (click)="Save()" type="submit">{{'Submited'|translate }}  <mat-icon>done_outline</mat-icon></button>
                             
                       </div>
                       
                    
                 </form>
        </div>
     </mat-card>